/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/*Import additional mixins, variables */
/* HTML element (SMACSS base) rules */
/* Layout rules */
/* Component (SMACSS module) rules */
/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\000038}}
body,
.lotusui30_body,
.lotusui30_body .lotusFrame {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #777777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000313}}
.lotusui30_body {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000317}}
.lotusui30 a[name] {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000324}}
.pedersenBanner {
  height: 70px;
  background: white !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000327}}
.pedersenBanner .lotusInner {
  max-width: 1560px;
  min-width: 950px;
  padding: 0 20px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000335}}
.pedersenLogo {
  background-image: url("img/Pedersen-logo.png") !important;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 221px 39px;
  height: 70px;
  width: 221px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000345}}
.pgeLogo {
  background-image: url("img/PGE-logo.png") !important;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 317px 18px;
  height: 70px;
  width: 317px;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000360}}
.lotusui30 .lotusBanner .lotusLogo,
.lotusBranding img,
.lotusui30 .lotusBanner .lotusIBMLogo {
  display: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000364}}
.lotusui30 .lotusBanner {
  background: #faa61a;
  border-bottom: 3px solid #faa61a !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000368}}
.lotusui30 .lotusBanner .lotusRightCorner {
  border-bottom: 1px solid #faa61a !important;
  background: #003465 !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003465', endColorstr='#003465', GradientType=0) !important;
  color: white !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000378}}
.lconnBannerIcon {
  border: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000384}}
.lotusui30 .lotusBanner .lconnBannerIcon {
  background: url("../img/sprite16.png");
  background: url("img/sprite16.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\0000390}}
.lotusui30 .lotusBanner ul.lotusLinks li.lotusSelected a,
.lotusui30 .lotusBanner ul.lotusInlinelist #headerSharebox {
  background: none;
  filter: none;
  border-color: black;
  box-shadow: 2px 0 2px -2px #fff inset, -2px 0 2px -2px #fff inset;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003103}}
.lotusui30 .lotusBanner ul.lotusInlinelist li a:hover,
.lotusui30 .lotusBanner ul.lotusInlinelist li a:focus,
.lotusui30 .lotusBanner ul.lotusInlinelist li a:active,
.lotusui30 .lotusBanner ul.lotusInlinelist li.lotusHover a {
  background: #00417f !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003108}}
.lotusui30 .lotusBanner ul.lotusLinks li a {
  color: white !important;
  font-size: 14px;
  font-size: .875rem;
  font-family: Roboto, Arial, sans-serif !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003118}}
.lotusui30 .lotusBanner ul.lotusLinks li a:hover,
.lotusui30 .lotusBanner ul.lotusLinks li a:focus,
.lotusui30 .lotusBanner ul.lotusLinks li a:active,
.lotusui30 .lotusBanner ul.lotusLinks li.lotusHover {
  color: #faa61a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003122}}
.lotusui30 div.lotusBanner ul.lotusUtility li a {
  color: white !important;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003129}}
.lotusui30 .lotusBanner ul.lotusInlinelist li a.lotusBannerBtn {
  font-family: Roboto, Arial, sans-serif;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #ffcb62, #ff9900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcb62), to(#ff9900));
  background-image: -webkit-linear-gradient(top, #ffcb62, #ff9900);
  background-image: -o-linear-gradient(top, #ffcb62, #ff9900);
  background-image: linear-gradient(to bottom, #ffcb62, #ff9900);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#ffff9900', GradientType=0);
  border-color: #ff9900 #ff9900 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ff9900;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003146}}
.lotusui30 .lotusBanner ul.lotusInlinelist li a.lotusBannerBtn:hover, .lotusui30 .lotusBanner ul.lotusInlinelist li a.lotusBannerBtn:focus {
  color: #ffffff;
  background-color: #ff9900 !important;
  *background-color: #df8505 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003155}}
.lotusui30 .lotusNavMenu {
  border: 1px solid #aaaaaa !important;
  border-radius: 0px;
  box-shadow: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003164}}
.lotusui30 .lotusNavMenu tr a {
  font-family: Roboto, Arial, sans-serif !important;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003176}}
.lotusui30_layout .lotusColLeft {
  background-image: url("img/worldmap-slogan.png") !important;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 176px 118px;
  padding-top: 138px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003186}}
.lotusui30_layout .lotusMain .lotusContent:before {
  background: none repeat scroll 0 0 #fbfbfb !important;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 216px;
  z-index: -1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003200}}
.lotusui30 .lotusMenu .lotusMenuSection:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 1px;
  margin-left: 20px;
  background: #fbfbfb;
  border-bottom: 1px solid #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003214}}
.lotusui30_layout .lotusColLeft:after {
  background: none repeat scroll 0 0 #fbfbfb;
  border-left: 1000px solid #fbfbfb !important;
  border-right: 214px solid #fbfbfb !important;
  bottom: 0;
  box-shadow: -1px 0 0 #e2e2e2 inset;
  content: "";
  height: 100%;
  margin-left: -1001px;
  position: fixed;
  width: 2px;
  z-index: -2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003233}}
.lotusui30 .lotusMenu li.lotusSelected a:visited,
.lotusui30 .lotusMenu li a:visited {
  color: #404040;
  background-color: none;
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003239}}
.lotusui30 .lotusMenu li a, .lotusui30 .lotusMenu li a:visited, .lotusui30 .lotusMenu li a:hover, .lotusui30 .lotusMenu li a:focus, .lotusui30 .lotusMenu li a:active {
  font-family: Roboto, Arial, sans-serif !important;
  box-shadow: none;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003246}}
.lotusui30 .lotusMenu li a {
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003252}}
.lotusui30 .lotusMenu li.lotusSelected a,
.lotusui30 .lotusMenu li a:hover, .lotusui30 .lotusMenu li a:focus, .lotusui30 .lotusMenu li a:active,
.lotusui30 .lotusMenu li.lotusSelected a:hover, .lotusui30 .lotusMenu li.lotusSelected a:focus, .lotusui30 .lotusMenu li.lotusSelected a:active {
  font-family: Roboto, Arial, sans-serif !important;
  color: #faa61a !important;
  background-color: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  border-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003266}}
.lotusui30 .lotusMenu .lconnHomepageGettingStarted.lotusSelected a .lconnStreamIcon {
  background-position: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003272}}
.lotusui30 .lotusMenu .lconnHomepageImFollowing.lotusSelected a .lconnStreamIcon {
  background-position: -48px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003278}}
.lotusui30 .lotusMenu .lconnHomepageStatusUpdates.lotusSelected a .lconnStreamIcon {
  background-position: -96px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003284}}
.lotusui30 .lotusMenu .lconnHomepageMyNotifications.lotusSelected a .lconnStreamIcon {
  background-position: -240px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003290}}
.lotusui30 .lotusMenu .lconnHomepageAtMentions.lotusSelected a .lconnStreamIcon {
  background-position: -144px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003296}}
.lotusui30 .lotusMenu .lconnHomepageActionRequired.lotusSelected a .lconnStreamIcon {
  background-position: -192px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003302}}
.lotusui30 .lotusMenu .lconnHomepageSaved.lotusSelected a .lconnStreamIcon {
  background-position: -288px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003307}}
.lotusui30 .lotusMenu .lconnHomepageDiscover.lotusSelected a .lconnStreamIcon {
  background-position: -336px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003313}}
.lotusui30 .lotusMenu .lconnHomepageMyPage.lotusSelected a .lconnStreamIcon {
  background-position: -384px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003320}}
.lotusTitleBar2 .lotusHeading {
  font-family: Roboto, Arial, sans-serif !important;
  font-weight: 300 !important;
  font-size: 28px !important;
  font-size: 1.75rem !important;
  color: #003465 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003326}}
.lotusTitleBar2 .lotusHeading img {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003329}}
.lotusTitleBar2 .lotusHeading .lotusText {
  font-weight: 100 !important;
  color: #003465 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003335}}
.lotusui30 .lotusTitleBar2 .lotusHeading .lotusText:visited, .lotusui30 .lotusTitleBar2 .lotusHeading .lotusText:hover, .lotusui30 .lotusTitleBar2 .lotusHeading .lotusText:focus, .lotusui30 .lotusTitleBar2 .lotusHeading .lotusText:active {
  color: #003465 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003346}}
.lotusui30 a, .lotusui30 a:visited {
  color: #003465;
  font-weight: 700;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003351}}
.lotusui30 a:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003356}}
.lotusui30 .lotusSection2 .lotusHeading a, .lotusui30 .lotusSection h2 a, .lotusui30 .lotusWidget h2 a, .lotusui30 .lotusWidget2 h2 a {
  color: #003465 !important;
  text-decoration: none;
  font-family: Roboto, Arial, sans-serif !important;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 20px;
  font-size: 1.25rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003364}}
.lotusui30 .lotusSection2 .lotusHeading a:hover, .lotusui30 .lotusSection h2 a:hover, .lotusui30 .lotusWidget h2 a:hover, .lotusui30 .lotusWidget2 h2 a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003370}}
.lotusui30 .lotusSection h2, .lotusui30 .lotusWidget h2, .lotusui30 .lotusWidget2 h2, .lotusui30 .dijitTitlePaneTitle,
.lotusui30 .lotusHeader .lotusHeading, .lotusui30 .lotusHeader h1 {
  border-bottom: 3px solid #faa61a;
  color: #003465 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003376}}
.lotusui30 .lotusMain .lotusBoard .lotusHeader a.asHeaderLink {
  color: #003465;
  font-family: Roboto, Arial, sans-serif !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003381}}
.lotusui30 .lotusHeader .lotusHeading, .lotusui30 .lotusHeader h1 {
  padding-bottom: 12px;
  padding-bottom: .75rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003386}}
.lotusui30 .lotusPortlet, .lotusui30 .lotusContent .lotusWidget {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003397}}
.lotusui30 .lotusWidget h3,
.lotusui .lconnEmpty,
.dijitReset,
.dogAtomDate,
.overline_todo span,
.lotusui30 .lotusHeader .lotusDetails p,
.lotusui30 .lotusSearch .lotusScope {
  color: #5e5e5e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003401}}
.lotusui30 .lotusTitleBarExt .lotusInlinelist li a, .lotusui30 .lotusTitleBarExt .lotusInlinelist li a:hover, .lotusui30 .lotusTitleBarExt .lotusInlinelist li a:focus, .lotusui30 .lotusTitleBarExt .lotusInlinelist li a:active {
  color: #003465;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003407}}
.lotusWidget .entry .icons {
  display: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003411}}
.entryBodySmall {
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003417}}
#lconn_homepage_widgets_activities_ActivitiesCalendar_0 table {
  width: 250px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003421}}
.lotusWidget .day {
  color: #003465;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003425}}
.activityInfo {
  margin-left: 24px;
  margin-left: 1.5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003428}}
.activityInfo h4 {
  margin-bottom: 20px !important;
  margin-bottom: 1.25rem !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003438}}
.lotusui30dojo .dijitMenuActive .dijitMenuItemHover, .lotusui30dojo .dijitMenuActive .dijitMenuItemSelected,
.lotusui30 .lotusNavMenu tr a:hover, .lotusui30 .lotusNavMenu tr a:focus, .lotusui30 .lotusNavMenu tr a:active, .lotusui30 .lotusNavMenu tr a.lotusHover {
  text-decoration: none !important;
  background-color: #dddddd !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003446}}
.lotusui30 .lotusSection2 .lotusHeading, .lotusui30 .lotusSection2 .lotusHeading2 {
  color: #003465 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003452}}
.lotusui30 .lotusWelcomeBox {
  background: #00417f;
  border-bottom: #001a32;
  box-shadow: 0 1px 2px #004e98 inset, 0 2px 2px #b2b2b2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003460}}
.lotusui30 .lotusWelcomeBox .lotusHeading, .lotusui30_layout .lotusWelcomeBox h2 {
  background: #003465 !important;
  border-bottom: #001a32;
  box-shadow: 0 1px 0 #004e98, 0 1px 2px #0069cb inset;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/pedersenandpartners-PGE\/sass\/_custom\.scss}line{font-family:\00003471}}
.lotusui30 .lotusFooter ul {
  background: white;
}
