// Custom css file for Pedersen & Partners PGE app
// author: criscom
// date: 20140711

// setting the base font family
body,
.lotusui30_body,
.lotusui30_body .lotusFrame {
	font-family: $arial;
	color: $gray;
}

.lotusui30_body {
	background: white;
}

.lotusui30 a[name] {
	color: white;
}

//===========================================================
// Pedersen Logo section

.pedersenBanner {
	height: 70px;
	background: white !important;
	.lotusInner {
		max-width: 1560px;
		min-width: 950px;
		padding: 0 20px;
		margin: 0 auto;
	}
}

.pedersenLogo {
	background-image: url('img/Pedersen-logo.png') !important;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 221px 39px;
	height: 70px;
	width: 221px;
	float: left;
}

.pgeLogo{
	background-image: url('img/PGE-logo.png') !important;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 317px 18px;
	height: 70px;
	width: 317px;
	float: right;
}

//===========================================================
// Banner

.lotusui30 .lotusBanner .lotusLogo,
.lotusBranding img,
.lotusui30 .lotusBanner .lotusIBMLogo {
	display: none !important;
}

.lotusui30 .lotusBanner {
	background: $yellow;
	border-bottom: 3px solid $yellow !important;
	// height: 50px;
	.lotusRightCorner {
		border-bottom: 1px solid $yellow !important;
		background: $blue !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003465', endColorstr='#003465', GradientType=0) !important; // For IE9
		color: white !important;
	}
}

// banner icons
// remove border in internet explorer
.lconnBannerIcon {
	border: none!important;
}

// house icon

.lotusui30 .lotusBanner .lconnBannerIcon {
	background: url('../img/sprite16.png'); // for local development
	background: url('img/sprite16.png');
}

.lotusui30 .lotusBanner ul.lotusLinks li.lotusSelected a,
.lotusui30 .lotusBanner ul.lotusInlinelist #headerSharebox {
	background: none;
	filter: none;
	border-color: black;
	// box-shadow: 0;
	// box-shadow: 0 0 6px #000 inset;
	// box-shadow:  0 0 6px #fff inset, 0 0 -6px #fff inset;
	box-shadow: 2px 0 2px -2px #fff inset, -2px 0 2px -2px #fff inset;
}

.lotusui30 .lotusBanner ul.lotusInlinelist li a:hover, 
.lotusui30 .lotusBanner ul.lotusInlinelist li a:focus, 
.lotusui30 .lotusBanner ul.lotusInlinelist li a:active, 
.lotusui30 .lotusBanner ul.lotusInlinelist li.lotusHover a {
	background: lighten($blue, 5%) !important;
}


.lotusui30 .lotusBanner ul.lotusLinks li a {
	color: white !important;
	font-size: 14px;
	font-size: .875rem;
	font-family: $roboto !important;
}

.lotusui30 .lotusBanner ul.lotusLinks li a:hover, 
.lotusui30 .lotusBanner ul.lotusLinks li a:focus, 
.lotusui30 .lotusBanner ul.lotusLinks li a:active, 
.lotusui30 .lotusBanner ul.lotusLinks li.lotusHover {
	color: $yellow;
}

.lotusui30 div.lotusBanner ul.lotusUtility li a {
	color: white !important;
	text-decoration: none;
}

// Share button

.lotusui30 .lotusBanner ul.lotusInlinelist li a.lotusBannerBtn {
	font-family: $roboto;
	color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); // #fbb450, #f89406
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #ffcb62, #ff9900); // #fbb450, #f89406
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcb62), to(#ff9900));
  background-image: -webkit-linear-gradient(top, #ffcb62, #ff9900);
  background-image: -o-linear-gradient(top, #ffcb62, #ff9900);
  background-image: linear-gradient(to bottom, #ffcb62, #ff9900);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#ffff9900', GradientType=0);
  border-color: #ff9900 #ff9900 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ff9900; //#f89406
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  &:hover, &:focus {
  	color: #ffffff;
  	background-color: #ff9900 !important; // #f89406
  	*background-color: #df8505 !important;
  }
}

// dropdown menu

.lotusui30 .lotusNavMenu {
    // border: 3px solid rgba(23, 23, 23, 0.8);
    border: 1px solid rgb(170,170,170) !important; // rgba(23, 23, 23, 0.8); //lighten($gray, 30%)
    // border-radius: 3px;
    border-radius: 0px;
    // box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0;
}

.lotusui30 .lotusNavMenu tr a {
	font-family: $roboto !important;
	font-weight: 400;
	text-decoration: none;
	color: $darkgray;
}

//===========================================================
// Sidebar

// Sidebar map

.lotusui30_layout .lotusColLeft {
	background-image: url('img/worldmap-slogan.png') !important;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 176px 118px;
	padding-top: 138px;
}

// Sidebar background

.lotusui30_layout .lotusMain .lotusContent:before {
	  // background: none repeat scroll 0 0 #f0f0f0;
	  background: none repeat scroll 0 0 $sidebargray !important; // $sidebargray
    content: "";
    height: 100%;
    // left: 215px;
    left: 0;
    position: absolute;
    top: 0;
    // width: 770px;
    width: 216px;
    z-index: -1;
}

.lotusui30 .lotusMenu .lotusMenuSection:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 1px;
  margin-left: 20px;
  // background: #2b2d30;
  background: $sidebargray;
    border-bottom: 1px solid #cccccc;
  // border-bottom: 1px solid #434b4d;
}

.lotusui30_layout .lotusColLeft:after {
    // background: none repeat scroll 0 0 #282a2d;
    background: none repeat scroll 0 0 $sidebargray;
    // border-left: 1000px solid #33363a;
    // border-right: 214px solid #363a3e;
    border-left: 1000px solid $sidebargray !important;
    border-right: 214px solid $sidebargray !important;
    bottom: 0;
    // box-shadow: -1px 0 0 #404749 inset;
    box-shadow: -1px 0 0 darken($sidebargray, 10%) inset;
    content: "";
    height: 100%;
    margin-left: -1001px;
    position: fixed;
    width: 2px;
    z-index: -2;
}

.lotusui30 .lotusMenu li.lotusSelected a:visited,
.lotusui30 .lotusMenu li a:visited {
	color: lighten($darkgray, 5%);
	background-color: none;
	background: none;
}

.lotusui30 .lotusMenu li a, .lotusui30 .lotusMenu li a:visited, .lotusui30 .lotusMenu li a:hover, .lotusui30 .lotusMenu li a:focus, .lotusui30 .lotusMenu li a:active {
	font-family: $roboto !important;
	box-shadow: none;
	text-shadow: none;

}

.lotusui30 .lotusMenu li a {
	color: $darkgray;
}

.lotusui30 .lotusMenu li.lotusSelected a,
.lotusui30 .lotusMenu li a:hover, .lotusui30 .lotusMenu li a:focus, .lotusui30 .lotusMenu li a:active,
.lotusui30 .lotusMenu li.lotusSelected a:hover, .lotusui30 .lotusMenu li.lotusSelected a:focus, .lotusui30 .lotusMenu li.lotusSelected a:active {
	font-family: $roboto !important;
	color: $yellow !important;
	background-color: none;
	background: none;
	box-shadow: none;
	text-shadow: none;
	border-right: 0;
}

// Icons in Sidebar
// Change the active state sprite from light to dark gray

// 1. First steps
.lotusui30 .lotusMenu .lconnHomepageGettingStarted.lotusSelected a .lconnStreamIcon {
background-position: 0 0; // -32px 0
}

// 2. I follow

.lotusui30 .lotusMenu .lconnHomepageImFollowing.lotusSelected a .lconnStreamIcon {
background-position: -48px 0; // -80px 0
}

// 3. Status updates

.lotusui30 .lotusMenu .lconnHomepageStatusUpdates.lotusSelected a .lconnStreamIcon {
background-position: -96px 0; //-128px 0
}

// 4. Messages (Benachrichtigungen)

.lotusui30 .lotusMenu .lconnHomepageMyNotifications.lotusSelected a .lconnStreamIcon {
background-position: -240px 0; //-272px 0;
}

// 5. Mentions

.lotusui30 .lotusMenu .lconnHomepageAtMentions.lotusSelected a .lconnStreamIcon {
background-position: -144px 0; //-176px 0;
}

// 6. Action required

.lotusui30 .lotusMenu .lconnHomepageActionRequired.lotusSelected a .lconnStreamIcon {
background-position: -192px 0; //-224px 0;
}

// 7. Saved

.lotusui30 .lotusMenu .lconnHomepageSaved.lotusSelected a .lconnStreamIcon {
background-position: -288px 0; // -320px 0;
}
// 8. Find

.lotusui30 .lotusMenu .lconnHomepageDiscover.lotusSelected a .lconnStreamIcon {
background-position: -336px 0; // -368px 0;
}

// 9. My page

.lotusui30 .lotusMenu .lconnHomepageMyPage.lotusSelected a .lconnStreamIcon {
background-position: -384px 0; //-416px 0;
}

//===========================================================
// Title bar

.lotusTitleBar2 .lotusHeading {
	font-family: $roboto !important;
	font-weight: 300 !important;
	font-size: 28px !important;
	font-size: 1.75rem !important;
	color: $blue !important;
	img {
		display: none;
	}
	.lotusText {
		font-weight: 100 !important;
		color: $blue !important;
	}
}

.lotusui30 .lotusTitleBar2 .lotusHeading .lotusText:visited, .lotusui30 .lotusTitleBar2 .lotusHeading .lotusText:hover, .lotusui30 .lotusTitleBar2 .lotusHeading .lotusText:focus, .lotusui30 .lotusTitleBar2 .lotusHeading .lotusText:active {
	color: $blue !important;
}

//===========================================================
// Widgets

// fonts and colors


.lotusui30 {
	a, a:visited {
	color: $blue;
	font-weight: 700;
	text-decoration: underline;
	}
	a:hover {
		text-decoration: none;
	}
}

.lotusui30 .lotusSection2 .lotusHeading a, .lotusui30 .lotusSection h2 a, .lotusui30 .lotusWidget h2 a, .lotusui30 .lotusWidget2 h2 a {
	color: $blue !important;
	text-decoration: none;
	font-family: $roboto !important;
	font-weight: 400;
	letter-spacing: 0.05em;
	font-size: 20px;
	font-size: 1.25rem;
	&:hover {
		text-decoration: underline;
	}
}

.lotusui30 .lotusSection h2, .lotusui30 .lotusWidget h2, .lotusui30 .lotusWidget2 h2, .lotusui30 .dijitTitlePaneTitle,
.lotusui30 .lotusHeader .lotusHeading, .lotusui30 .lotusHeader h1  {
	border-bottom: 3px solid $yellow;
	color: $blue !important;
}

// other pages 
.lotusui30 .lotusMain .lotusBoard .lotusHeader a.asHeaderLink {
	color: $blue;
	font-family: $roboto !important;
}

.lotusui30 .lotusHeader .lotusHeading, .lotusui30 .lotusHeader h1 {
	padding-bottom: 12px;
	padding-bottom: .75rem;
}

.lotusui30 .lotusPortlet, .lotusui30 .lotusContent .lotusWidget {
	@include border-radius(6px);
}

// main font color settings
.lotusui30 .lotusWidget h3,
.lotusui .lconnEmpty,
.dijitReset,
.dogAtomDate,
.overline_todo span,
.lotusui30 .lotusHeader .lotusDetails p,
.lotusui30 .lotusSearch .lotusScope {
	color: darken($gray, 10%);
}

.lotusui30 .lotusTitleBarExt .lotusInlinelist li a, .lotusui30 .lotusTitleBarExt .lotusInlinelist li a:hover, .lotusui30 .lotusTitleBarExt .lotusInlinelist li a:focus, .lotusui30 .lotusTitleBarExt .lotusInlinelist li a:active {
	color: $blue;
}

// hide icons in bookmarks

.lotusWidget .entry .icons {
	display: none !important;
}

.entryBodySmall {
	margin-left: 0; // margin-left: 25px;
}

// calendar

#lconn_homepage_widgets_activities_ActivitiesCalendar_0 table {
	width: 250px !important;
}

.lotusWidget .day {
	color: $blue;
}

.activityInfo {
	margin-left: 24px;
	margin-left: 1.5rem;
	h4 {
	margin-bottom: 20px !important;
	margin-bottom: 1.25rem !important;
	}
}

// javascript dropdown windows
// .lotusui30dojo .dijitMenuActive .dijitMenuItemHover, .lotusui30dojo .dijitMenuActive .dijitMenuItemSelected,
.lotusui30dojo .dijitMenuActive .dijitMenuItemHover, .lotusui30dojo .dijitMenuActive .dijitMenuItemSelected, // Calendar
.lotusui30 .lotusNavMenu tr a:hover, .lotusui30 .lotusNavMenu tr a:focus, .lotusui30 .lotusNavMenu tr a:active, .lotusui30 .lotusNavMenu tr a.lotusHover // Banner section
 {
 	  // background-color: #e9f1f3; // light blue default color
  text-decoration: none !important;
	background-color: lighten($gray, 40%) !important;
}

// Sidebar right / Sections

.lotusui30 .lotusSection2 .lotusHeading, .lotusui30 .lotusSection2 .lotusHeading2 {
	color: $blue !important;
}

// Rufen Sie Aktualisierungen ab 

.lotusui30 .lotusWelcomeBox {
	background: lighten($blue, 5%);
	border-bottom: darken($blue, 10%);
	// box-shadow: 0 1px 2px #52acdb inset, 0 2px 2px #b2b2b2;
	box-shadow: 0 1px 2px lighten($blue, 10%) inset, 0 2px 2px #b2b2b2;

}

.lotusui30 .lotusWelcomeBox .lotusHeading, .lotusui30_layout .lotusWelcomeBox h2 {
	background: $blue !important;
	border-bottom: darken($blue, 10%);
	// box-shadow: 0 1px 0 #58a3c0, 0 1px 2px #52acdb inset;
	box-shadow: 0 1px 0 lighten($blue, 10%), 0 1px 2px lighten($blue, 20%) inset;
}

// footer

// background color from gray to white

.lotusui30 .lotusFooter ul {
	background: white; //#f0f0f0;
}
