/*
=======================================================================
*** PORTO_SUB STYLE SHEET***
========================================================================
*/

/* holds all general, non-media-query styles */

//===========================================================
// BASE STYLES

* {
	outline: none;
}

body {
	font-family: $arial !important;
	font-size: $base-font-size;
	line-height: $base-line-height;

}

iframe {
  max-width: 100%;
}



//===========================================================
// Form elements

// disable styles when input field in search is focused

input[type="text"]:focus,
input[type="search"]:focus {
	border-color: #cccccc;
	box-shadow: none;
}

//===========================================================
// Header

header {
	.container
	{
		position: relative;
	}
	.logo {
		img {
			width: 284px;
			height: 51px;
		}
	}
}


#header-top {
	height: 60px;
}

//===========================================================
// Search Form

#search-api-page-search-form-search-content {
}

div.block-search-api-page .content {
	float: right;
	// min-width: 206px;
	min-width: 168px;
	margin-top: 16px;
}

div.block-search-api-page input[type="image"]:focus {
  width: auto !important;
  // background: white !important;
}

.form-item-keys-1 {
	  display: inline-block;
	  margin: 0;
}

.form-item-keys-1 input[type="text"] {
	-webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
  // width: 180px;
  width: 138px;
  height: 32px;
  height: 2rem;
  margin: 0;
  // border-right: 0 !important; // hides the right border left of the loupe ==> remove to get old styling back
}

#search-api-page-search-form-search-content .form-actions {
	padding: 2px 11px 1px 11px !important;
	display: inline-block;
	-webkit-border-radius: 0 14px 14px 0;
	-moz-border-radius: 0 14px 14px 0;
	border-radius: 0 14px 14px 0;
	position: relative;
	// top: 1px;
	height: 27px;

	.webkit.win & {
		top: 1px;
	}
	.gecko.win & {
		top: 1px;
	}
	margin: 0 0 0 -6px;
	border: 1px solid #cccccc;
	// 	border-left: 0;
	// background: white !important; // hides the pill effect for the loupe background
	input {
		width: 13px;
		height: 13px;
	}
}




//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Main menu

// white space/margin between main menu and blue heading section
// nav ul.nav-main {
// 	@media only screen and (min-width: 980px) {
// 		margin-top: -35px!important;
// 	}
// 	@media only screen and (min-width: 980px) and (max-width: 1199px) {
// 		margin-top: -58px !important;
// 		margin-right: -10px !important;
// 	}
// }

.menu-block-22 .nav-pills>li:first-child {
	>a {
		background-image: url("../images/home-icon-retina.png");
		background-position: center 5px;
		background-size: 21px 19px;
		background-repeat: no-repeat;
		text-indent: -9999px;
		margin-right: 16px;
		margin-right: 1rem;
		&:hover {
			background-image: url("../images/home-icon-retina-hover.png");
		}
	}
}

// .menu-block-22 .nav-pills>li.active:first-child>a {
// 			&:hover {
// 			background-image: url("../images/home-icon-retina-hover.png");
// 		}
// }

.menu-block-22 ul.nav>li>a.active,
.menu-block-22 ul.nav>li>a.active-trail {
	color: $yellow;
}

// .menu-block-22 .nav-main li {
// 	a {
// 		@media only screen and (min-width: 1200px) {
// 			margin-right: 5px;
// 			margin-left: 5px;
// 		}
// 	}
// }

@media only screen and (min-width: 980px) and (max-width: 1199px) {
	// .nav-pills > li > a {
	// 	padding-right: 8px !important;
	// 		padding-left: 8px !important;
	// 	}
	// .nav-pills > li:first-child > a {
	// 	padding-right: 12px !important;
	// 	padding-left: 12px !important;
	// 	}
	}




//===========================================================
// Submenu

ul.dropdown-menu {
	// box-shadow: none !important;
	top: 100%; // default value
	// top: 46px; // doesn't work because of hover effect that gets lost
	// top: 2.875rem;
	border-radius: 0 !important;
	background-color: white !important;
	border-top: 3px solid $yellow !important;

	li {
		> a {
			border-bottom: 0;
			&:hover {
				background-color: none !important;
			}
		}
		&:first-child {
			
		}
		&:last-child {
				padding-bottom: 10px;
				padding-bottom: .625rem;
		}
	}
}

// remove the gray background when a menu item is hovered
nav ul.nav-main ul.dropdown-menu li:hover > a {
	background: transparent !important;
}




//===========================================================
// Breadcrumb and page header section


section.page-top {
	background-color: $blue;
	border-top: 0;
	border-bottom-color: $yellow;
	border-width: 8px;
	position: relative;
	padding: 10px 20px; // making the blue ribbon banner smaller 05.08.2014
	margin-bottom: 0; // remove margin-bottom: 35px; to include background shadow.png
	h1 {
		border-bottom: 0;
	}
	ul.breadcrumb {
		margin-top: -7px !important;
		margin-bottom: 4px !important;
	}
}

// Background under header section
.not-front .main #content {
	background-image: url('../images/shadow.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 28px; // padding for the main content in order for the shadow.png to work
}


// make breadcrumb Link active on landing pages
// eg. Home / Services

ul.breadcrumb li:nth-child(2) {
	a {
		color: $yellow;
	}
}

// offices
.page-team,
.node-type-offices {
	ul.breadcrumb {
		li:nth-child(2) {
			a {
				color: white;
			}
		}
		li:nth-child(3) {
			a {
				color: $yellow;
			}
		}
	}
}

// biography

.node-type-team {
	ul.breadcrumb {
		li:nth-child(2) {
			a {
				color: white;
			}
		}
		li:nth-child(4) {
			a {
				color: $yellow;
			}
		}
	}
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Frontpage Panel


// bottom shadow for the image slideshow on frontpage
.front .panel-col {
	padding-top: 24px;
	padding-top: 1.55rem;
	h1 {
		margin-top: 6px !important;
		margin-bottom: 0;
	}
	.field-name-body {
		p:first-child {
			margin-top: -14px;
			margin-top: -0.875rem;
			margin-bottom: 0;
		}
		p.read-more {
			margin-top: 0px;
			// margin-top: 0.75rem;
			margin-bottom: 0px;
			// margin-bottom: .375rem;
		}
	}
}

.about-country-front .form-select.jquery-once-3-processed {
	margin-top: 2px;
	width: 350px;
	height: 40px;
}





//===========================================================
// Slideshow Front




/* FRONTPAGE Royal Slider */
/* 1st row */
#block-views-frontpage-slider-block .royalSlider {
  width: 100% !important;
  // width: 1170px !important;
  // max-height: 420px;
  max-height: 384px !important;
  text-align: center;
  background: white;
}

#block-views-frontpage-slider-block .rsDefault .rsOverflow {
	position: relative;
	// overflow: visible;
}

#block-views-frontpage-slider-block .rsDefault .rsOverflow,
#block-views-frontpage-slider-block .rsDefault .rsSlide {
	background: white !important;
}

.field-name-field-slideshow-image img {
	max-width: 1280px;
	width: 100%;
	height: auto;
}

// Arrows - navigation

.view-frontpage-slider {
	.rsDefault.rsHor .rsArrow .rsArrowIcn {
		border-radius: 24px !important;
	}
}

.view-frontpage-slider .rsDefault.rsHor {
	.rsArrowLeft {
		top: 25% !important;
	}
	.rsArrowRight {
		top: 25% !important;
	}
}

// background for Royal Slider

.rsBgBottom,
.rsBg {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 20;
}

.rsBgBottom,	
.rsBgimg {
		background-image: url('../images/shadow.png');
		background-size: 100%;
		background-repeat: no-repeat;
		height: 20px;
		
}
.rsBgimg {
	background-position: center top;
	top: 0;
}
.rsBgBottom {
	
	background-position: center bottom;
}

/* Map for 3rd row front */

div.map-section {
	background: none;
	padding-top: 0;
	clear: both;
	margin-top: 36px;
	.span4 {
		padding-top: 4px;
	}
	ul.slides li .span4 { // remove padding on news slider
		padding-top: 0;
		margin-top: -8px;
		article p { // push text closer to news heading
			margin-top: 16px;
			margin-top: 1rem;
			margin-bottom: 0;
		}
	}
}

section.featured.map {
	background-image: url('../images/homepage-background.png');
	// background-color: rgba(255,255,255,0.3) !important;
	background-repeat: no-repeat;
	clear: both;
	background-size: 1280px 414px;
	.container {
		// overflow: hidden;
	}
}

/* Flexslider Press Releases */
//===========================================================
// Latest News



.flexslider {
	background: transparent !important;
	border: 0 !important;
	h4 {
		margin-top: 0 !important;
	}
}

.flexslider .slides > li {
	padding-top: 2px;
}

div.recent-posts div.date {
	margin-top: 6px;
}

/* Royal Slider Press Releases */
/* 3rd row */
.view-press-frontpage .rsDefault,
.view-press-frontpage .rsDefault .rsOverflow,
.view-press-frontpage .rsDefault .rsSlide,
.view-frontpage-consultant-spotlight .rsDefault,
.view-frontpage-consultant-spotlight .rsDefault .rsOverflow,
.view-frontpage-consultant-spotlight .rsDefault .rsSlide {
	background: transparent !important;
	color: #777 !important;
}

.view-press-frontpage .royalSlider{
	width: 100% !important;
	text-align: left;
}

#royal-slider-front-consultant {
	// width: 370px;
	width: 366px; // 358px;
	height: 240px;
}



/* Navigation Bullets */
.view-press-frontpage .rsDefault .rsBullets {
	background: transparent;
	text-align: left;
}

.view-press-frontpage .rsDefault .rsBullet span {
	background: rgba(119,119,119, 0.3) !important;
}

.view-press-frontpage .rsDefault .rsBullet.rsNavSelected span {
	background: #777 !important;
}

.view-frontpage-consultant-spotlight .field-name-field-image-page img {
		/*max-height: 60px;*/
		border: 4px white solid;
		border-radius: 6px;
}


//===========================================================
// Frontpage Featured Section
// LATEST NEWS (PRESS) CONSULTANT SPOTLIGHT

.front section.featured {
	padding: 2px 0 16px;
	.span4 h2 {
		margin-bottom: 30px;
		margin-bottom: 1.875rem;
	}
	.span8 h2 {
		margin-bottom: 22px;
		margin-bottom: 1.375rem;
	}
	.span8 h4 {
		margin-top: 0;
		a {
			color: $blue;
		}
	}
	span.day {
		color: $blue !important;
	}
	span.month {
		background-color: #1e5db0 !important; // $blue !important;
	}
	.read-more {
		@extend %read-more;
	}
}

// > icon after read more link
a [class^="icon-"], a [class*=" icon-"] {
	text-decoration: none !important;
	margin-left: 6px;
	margin-left: .375rem;
}

// Consultant spotlight royal slider RoyalSlider

// thinning of fonts in footer in Webkit based browsers
// http://stackoverflow.com/questions/9049524/safari-rendering-page-fonts-thinner-with-jquery-slider-on-page
.featured .royalSlider {
	position:relative;
	z-index:1;
}

.view-frontpage-consultant-spotlight {
	.field-name-field-image-page {
	float: left;
		img {
			width: 60px;
			margin-bottom: 12px;
			margin-bottom: .75rem;
		}
	}
}

.view-frontpage-consultant-spotlight {
	.views-field-title > div.span3, .job-title {
		margin-left: 8px !important;
		margin-left: .75rem !important;
		a {
			text-decoration: underline;
			color: $blue !important;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}

.view-frontpage-consultant-spotlight {
	.job-title {
		margin-bottom: 12px;
		margin-bottom: .75rem;
	}
}

.view-frontpage-consultant-spotlight .field-name-body {
	margin-top: 12px;
	margin-top: .75rem;
	margin-left: 0;
	clear: both;
	a.more-link {
		@extend %read-more;
		text-align: left;
	}
}


// NEWSLETTER in Slider section

// width of input field newsletter

body {
	background-color: transparent !important;
}

.xspForm>div {
		width: 320px !important;
	}

input.span2 {
	width: 204px !important;
}

.querytable-outer-wrapper {
	margin-top: 0 !important;
}

.querytable-wrapper {
	input[type="checkbox"] {
	width: 16px !important;
	height: 16px !important;
	margin-right: 4px !important;
	margin-top: -4px !important;
	}
	input[type="text"]:focus {
		border: 1px solid #cccccc !important;
		box-shadow: none !important;
	}
}

.consent-text {
	max-width: 350px !important;
	line-height: 24px;
	line-height: 1.5rem;
}

div.input-append {
	margin-top: 10px;
	margin-top: .625rem;
	input[type="text"] {
		height: 34px;
		height: 2.125rem;
		box-shadow: none !important;
		-webkit-backface-visibility:hidden;
		.chrome.win & {
			// height: 36px;
		}
	}
	input[type="checkbox"] {
		height: 20px;
		width: 16px;
		margin-top: -4px;
	}
}

h2.newsletter {
	margin-bottom: 24px !important;
}

.span4.span-last > p {
    margin-bottom: 0;
}


.errortext {
	/*background-color: rgb(214, 214, 214);*/
	background-color: transparent;
	// border-right: 4px;
	margin-top: -8px;
}

span[role="alert"] table.errortext td,
span table.errortext td {
	color: #faa61a !important;
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––


/* Royal Slider */
/* Contact us page */

/* Worldcarouselslider */
#block-block-40 .royalSlider {
	width: 100% !important;
	max-height: 540px;
}

#block-block-40 .royalSlider img {
}

/* Worldcarouselslider */
#block-block-40 .rsDefault .rsOverflow,
#block-block-40 .rsDefault .rsSlide {
	background: white !important;
}




//===========================================================
// NOT-FRONT MAIN CONTENT 

// Align Headings which were added in the editor
// e.g. about-us
.region-content .content .field-name-body {
	h2 {
		margin-top: 7px;
		margin-top: 0.4375rem;
		margin-bottom: 0;
	}
}

// Adjusting top spacing for left and right sidebar

#sidebar-left div.span3,
div.span3 .region-sidebar-right,
body.page-team .view, // all team overview pages
.field-name-field-pg-image // top image on PG pages
 {
	margin-top: 12px;
	margin-top: .75rem;
}


// h3 headings: spacing between headers and paragraphs in body

.field-name-body {
	h3 {
		margin: 0 0 -2px 0;
	}
	// Adjusting lists - list styling in body
	ul {
		list-style: none;
		padding-left: 0;
		li {
		background-image: image-url('list-icon.png');
		background-size: 12px 11px;
		background-repeat: no-repeat;
		background-position: left 6px;
		padding-left: 22px;
		}
	}
}

// remove list styling for particular pages
// 1.
// 2. page-node-830 - Practice group landing page

// body.page-node-830 {
// 	ul {
// 		li {
// 			background-image: none;
// 			padding-left: 0;
// 		}
// 	}
// }

// Practice Group landing page
// convert list into two columns

.span3-pg-first {
	margin-left: 0;
}


// adjusting the banner image on PG and services landing pages

.field-name-field-image-landing-page {
	p {
		margin-top: 12px;
		margin-top: .75rem;
	}
}


// Executive Market Mapping

// adjust spacing between link list at the bottom and footer

.node-services {
	.field-name-field-link-team {
		margin-bottom: 1.4em;
	}
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// About Us

// put Pedersen & Partners into the second line of the heading
body.page-node-842 .field-name-body {
	h2 {
		max-width: 440px;
	}
// remove list styles in body list
	ul {
		list-style: none;
		padding-left: 0;
	}
}

// space btw brochure image and button in right sidebar

.region-sidebar-right {
	#block-block-10 {
		margin-bottom: 12px;
		margin-bottom: .75rem;
	}
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Assurances

.assurances-wrapper {
	text-align: center;
	margin-top: 38px;
	margin-top: 2.375rem;
	.symbol {
		margin: 11px 0;
	}
}


//===========================================================
// Practice Groups

body.node-type-references {
	.field-name-body {
		margin-bottom: 16px;
		margin-bottom: 1rem;
		padding-bottom: 16px;
		padding-bottom: 1rem;
		border-bottom: 1px solid $grayborder;
	}
}

div.span3.references1 {
	margin-left: 0;
}
div.span3.references1,
div.span3.references2 {
	p {
		margin-top: 0;
	}
}




//===========================================================
// Offices

body.node-type-offices {
	.city-country-wrapper {
		// display: inline-block;
		padding-left: 50px;
		padding-left: 3.125rem;
		h2 {
			margin-top: 0;
			margin-bottom: 0;
			letter-spacing: 0;
		}
		.city {
			margin-right: 8px;
			margin-right: .5rem;
		}
		.country {
			// margin-left: 6px;
			// margin-left: .5rem;
		}
		.city-country {
			float: left;
			margin-right: 6px;
		}
	}
	.field-name-body {
		clear: both;
		p:nth-child(1) {
			margin-top: 21px;
			margin-top: 1.3125rem;
			margin-bottom: 16px;
			margin-bottom: 1rem;
		}
	}
	h3 {
		margin-top: 18px;
		margin-top: 1.125rem;
	}
}


// sidebar events and offices

body.page-events-all, // Events archive
body.node-type-in-the-media, // in the media
body.node-type-insights-article, // insights
body.node-type-article, //press releases
body.node-type-events,
body.node-type-offices {
	.region-sidebar-right .block-views {
		margin-top: -14px;
		margin-top: -0.875rem;
			.views-field-title {
		margin-bottom: 6px;
		margin-bottom: .375rem; 
	}
		h3 { // Regional news
			// margin-top: 0 !important;
			margin-top: 20px;
			margin-top: 1.25rem;
			margin-bottom: 20px;
			margin-bottom: 1.25rem;
		}
	}
	.region-sidebar-right .views-row {
	margin-bottom: 12px;
	margin-bottom: 0.75rem;
	padding-bottom: 12px;
	padding-bottom: 0.75rem;
	border-bottom: 1px solid $grayborder;
	}
	.field-name-body {
	// margin-bottom: 12px;
	// margin-bottom: 0.75rem;
	// padding-bottom: 12px;
	// padding-bottom: 0.75rem;
	// border-bottom: 1px solid $grayborder;
	}
	.group-office-address h3 {
		margin-bottom: 12px;
		margin-bottom: .75rem;
		padding-left: 32px;
		padding-left: 2rem;
		background-image: url(../images/pin.png);
		background-size: 17px 23px;
		background-repeat: no-repeat;
		background-position: left 5px;
	}
	.field-name-field-office-address {
		p:nth-child(1) {
			margin-top: 18px;
			margin-top: 1.125rem;
		}
		p:nth-child(2) {
			font-weight: 700;
		}
	}
}

// E-Mail Office
.field-name-field-email-office .btn-warning {
	// width: 163px;
}

// Location map Google Map

.location-map {
		margin-top: 46px;
		margin-top: 2.875rem;
		margin-bottom: 40px;
		margin-bottom: 2.5rem;
	
	h3 {
		// height: 38px;
		background-color: $locationmap;
		margin-top: 0 !important;
		margin-bottom: 0;
		padding: 10px 0 10px 16px;
		padding: .625rem 0 .625rem 1rem;
		border: 1px solid $grayborder;
		a  {
			display: block;
			background-image: url('../images/map-open.png');
			background-position: 98% center;
			background-repeat: no-repeat;
			background-size: 18px 11px;
		}
	}
	.gm {
		margin-top: 28px;
		margin-top: 1.75rem;
	}
}

.location-map {
	&.collapsed {
		margin-bottom: 46px;
		margin-bottom: 2.875rem;
		h3 {
			a {
				background-image: url('../images/map-closed.png');
				background-position: 98% center;
				background-repeat: no-repeat;
				background-size: 11px 17px;
			}
		}
	}
}


// Office Team members

h3.team-members {
	padding-top: 20px;
	padding-top: 1.25rem;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	border-top: 1px solid $grayborder;
}

body.node-type-offices {
	.view-office-team-members {
		.views-row {
			float: left;
			width: 163px;
			min-height: 366px;
			margin-right: 31px;
			.field-name-field-linkedin,
			.views-field-title {
				margin-top: 16px;
				margin-top: 1rem;
			}
		}
		// .views-row-3,
		// .views-row-6,
		// .views-row-9,
		// .views-row-12,
		// .views-row-15 {
		// 	margin-right: 0;
		// }
	}
}


.page-node-38 .view-office-team-members {
	.views-row-1,
	.views-row-2,
	.views-row-3 {
		min-height: 400px !important;
	}
}


//===========================================================
// SIDEBAR MENU

#block-block-41 .content ul.worldcarouselmenu, // Our offices Contact page
.content .block-menu-block ul.menu, // for mobile devices if menu blocks are in the content region
.region-after-content .block-menu-block ul.menu, // for mobile devices if menu blocks are in the after-content region
.region-sidebar-left .block-menu-block ul.menu // team
{
	padding-left: 0;
	li.collapsed,
	li.expanded,
	li.leaf {
		padding-top: 9px;
		padding-bottom: 8px;
		padding-right: 0;
		list-style-image: none !important;
		list-style-type: none !important;
		background-image: url("../images/menu-leaf.png");
		background-position: left 17px;
		background-size: 5px 6px;
		background-repeat: no-repeat;
	}
	li.collapsed,
	li.leaf {
		padding-left: 24px;
		border-bottom: 1px solid $grayborder !important;
		a.active-trail,
		a.active {
			color: $yellow;
		}
	}
	// SIDEBAR SUBMENU - 2nd LEVEL
	li.expanded{
		>a.active-trail {
			display: block;
			padding-bottom: 8px;
			padding-left: 24px;
			color: $yellow;
		}
			>ul {
			padding-left: 0;
			li.leaf {
				margin-left: 0;
				padding-left: 48px;
				background-position: 24px 17px;
			}
			li.first {
				border-top: 1px solid $grayborder !important;
			}
		}
	}
}	


// Contact us page - sidebar menu

// Our offices
#block-block-41 {
	h3 {
	// margin-bottom: 0;
	margin-bottom: 12px;
	}
	.content ul.worldcarouselmenu {
		margin-top: 4px;
		margin-top: .25rem;
	}
} 

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––





//===========================================================
// Events

// sidebar

.view-display-id-block_2 {
	div.views-field-field-events-date {
		float: left;
	}
}

// node - main content

.group-city-date-wrapper {
	.event-city,
	.event-date {
		font-weight: 700;
	}
}

.event-city {
	&:after {
	margin: 0 4px;
	content: "-";
	}
}

.group-date-time-wrapper {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	.label-inline.event-date,
	.event-date,
	.event-time {
		float: left;
	}
	span.date-display-single {

	}
	.event-time {
		float: left;
			&:before {
				padding: 0 4px;
			content: "-";
		}
	}
}

.event-venue-wrapper {
	clear: both;
	margin-top: 1.4em; // doesn't work; .group-date-time-wrapper needs to be cleared properly
}

.group-events-footer-wrapper {
	border-top: 1px solid #cccccc;
	padding-top: 18px;
	margin-top: 24px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 22px;
	padding-bottom: 19px;
	&:before, &:after {
		content: " ";
		display: table;
	&:after {
		clear: both;
	}
	}
}

.field-name-field-detailed-information  {
	table {
		font-size: 11px;
		margin-top: 0;
		margin-bottom: 12px;
		margin-bottom: 0.75rem;
		tbody {
			border-top: 0;
		}
	}
	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.field-name-field-club-administrator {
	clear: both;
	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}


// Events archive menu

#block-menu-block-24 {
	h3 {
		margin-top: 34px;
		margin-top: 2.125rem;
		margin-bottom: -6px;
	}
	ul {
		padding-left: 0;
		li {
			list-style: none;
			margin-left: 0;
			a {
			color: $blue;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
			}
		}
	}
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Button 

// Find an office location 
.region-sidebar-left .btn-warning,
.region-sidebar-right .btn-warning {
	// width: 240px; /* needs to be adjusted for breakpoints */
	text-align: left;
	 margin: 12px 0 0 0;
}



// in Sidebars => Find an office location

// button height
.btn {
	padding: 6px 12px !important;
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––





//===========================================================
// Quick select in sidebar

#sidebar-left {
	#block-pedersenandpartners-navigation-navigation {
		margin-top: 38px;
		margin-top: 2.375rem;
		h3 {
			// font-weight: 400 !important;
		}
	}
}




//===========================================================
/* QUICKTABS Effect */


.quicktabs-hide {
display: block;
opacity: 0 !important;
position: absolute;
top: -999999px;
}

.quicktabs-tabpage,
.quicktabs-ui-wrapper {
-webkit-transition:all 1s ease 0.1s;
-moz-transition:all 1s ease 0.1s;
-o-transition:all 1s ease 0.1s;
transition:all 1s ease 0.1s;
}




//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// NEWS landing page


.view-events-overview,
#quicktabs-news {
	ul.quicktabs-tabs {
		margin-top: 8px;
		margin-top: .5rem;
		padding-bottom: 21px;
		padding-bottom: 1.3125rem;
		border-bottom: 1px solid $grayborder;
		margin-bottom: 18px;
		margin-bottom: 1.125rem;
		li {
			margin-right: 24px !important;
			margin-right: 1.5rem !important;
		}
	}
	.views-field-view-node { // floats read more button to right
		clear: left;
		float: right;
	}
	.views-row {
		margin-bottom: 22px;
		margin-bottom: 1.375rem;
		padding-bottom: 28px; // 38px
		padding-bottom: 1.75rem;
		border-bottom: 1px solid $grayborder;
		&:before,
		&:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
		.field-name-body {
			// min-height: 120px;
			p, div {
				margin-bottom: 16px;
			}
		}
	}
}

h2.news-header {
	margin-top: 0 !important;
	// margin-top: 0.25rem !important;
}


// publishing date in views currently disabled
.views-field-created-1 {
	background-image: url('../images/icon-date.png');
	background-size: 17px 14px;
	background-position: left center;
	background-repeat: no-repeat;
	height: 20px;
	span {
		padding-left: 24px;
		padding-left: 1.5rem;
	}
}

.news-portrait {
	float: left;
	// min-height: 250px;
	img {
		margin-top: 8px;
		margin-right: 12px;
		margin-right: .75rem;
	}
}

.news-landscape {
	margin-top: 22px;
	margin-top: 1.375rem;
	margin-bottom: 28px;
	margin-bottom: 1.75rem;
}

// enable when views field is set to plain text
/* .news-tags {
	// enable margin-left when the date field is visible;
	// publishing date in views currently disabled
	// margin-left: 20px;
	// margin-left: 1.25rem;
	background-image: url('../images/icon-tags.png');
	background-size: 17px 14px;
	background-position: left center;
	background-repeat: no-repeat;
	height: 20px;
	padding-left: 24px;
	padding-left: 1.5rem;
} */

// NEWS Tags on news landing page
// views field is set to list style
.news-tags {
	ul {
		list-style: none;
		list-style-type: none;
		list-style-image: none;
		margin-right: 15%;
		li {
			display: inline;
			background-image: url('../images/icon-tags.png');
			background-size: 17px 14px;
			background-position: left center;
			background-repeat: no-repeat;
			height: 20px;
			padding-left: 22px;
			padding-left: 1.375rem;
			padding-right: 16px;
			padding-right: 1rem;
		}
		li.first {
		}
	}
}

// tags in right sidebar on news detail pages
.view .field-name-field-tags {
		background-image: url('../images/icon-tags.png');
		background-size: 17px 14px;
		background-position: left center;
		background-repeat: no-repeat;
		height: 20px;
		padding-left: 22px;
}


// Position the news READ MORE button
// on the events page ==> #quicktabs-tabpage-news-4 we do not reposition it

	#quicktabs-tabpage-news-0,
	#quicktabs-tabpage-news-1,
	#quicktabs-tabpage-news-2,
	#quicktabs-tabpage-news-3 {
		.views-field-view-node { // pushes the button up and aligns it with the tags
			margin-top: -36px;
			margin-top: -2.25rem;
		}
	}




//===========================================================
// News detail

// NEWS Tags on news detail

.node-events,
.node-article, // press releases
.node-in-the-media,
.node-insights-article {
	h2 {
		margin-top: 8px;
		margin-top: .5rem;
	}
}

.node-insights-article {
	.field-name-field-date {
		margin-bottom: 24px;
		margin-bottom: 1.5rem;
		.field-label {
			float: left;
		}
	}
	.field-name-body {
		clear: both;;
	}
}

.node .news-tags {
		background-image: url('../images/icon-tags.png');
		background-size: 17px 14px;
		background-position: left center;
		background-repeat: no-repeat;
		height: 20px;
		padding-left: 22px;
		padding-left: 1.375rem;
		padding-right: 16px;
		padding-right: 1rem;
}

.node .field-name-field-upload {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	.field-item.odd {
		margin-top: 12px;
		margin-top: .75rem;
	}
}

.download-title {
	font-weight: 700;
	margin-bottom: 2px;
}

.group-pdf-link-wrapper {
	clear: both;
	border-top: 1px solid #cccccc;
	padding-top: 18px;
	margin-bottom: 22px;
}

div.read-online-wrapper + div.download-wrapper {
	margin-top: 12px;
}



.download {
	margin-bottom: 12px;
	margin-bottom: .75rem;
}

// Make sure that long download pdf links don't break the design on news pages
.group-pdf-link-wrapper .download {
	-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

}


// published by link

.published-by-wrapper {
	margin-bottom: 1.4em;
	float: right;
}

.field-name-field-published-by-text {
	// float: left;
}


// Add this toolbox on NEWS detail pages

.field-name-add-this-news-detail {
	margin-bottom: 12px;
	margin-bottom: .75rem;
}

	#share {
	float: left;
	margin-right: 16px;
	margin-right: 1rem;
	}
	.addthis_toolbox {
		padding-top: 2px;
		padding-top: .125rem;
	}

// Portrait image on NEWS detail pages

.group-portrait-wrapper.span2 {
	margin-left: 0 !important;
}

.field-name-body p img {
	margin: 5px 10px;
}




//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––





/* Submit your CV form */

div.querytable {
	background-color: #eeeeee !important;
}









//===========================================================
// Company brochure background shadow


.image img {
	border: solid 1px #ddd;
	box-shadow: 2px 2px 3px #888888;
}



//===========================================================
// Team images

.picframe iframe,
.picframe img {
	padding: 4px;
	border: solid 1px #ddd;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.gm iframe {
	padding: 0 !important; 
}

// Team photos in right sidebar
.region-sidebar-right {
	.field-name-field-image-page img {
		width: 205px; // adjusting image sizes on team to 205px w and 246 px h
	}
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Team bio pages

.node-team .field-name-field-linkedin .field-label {
	color: $blue;
	font-weight: 600 !important;
}




//===========================================================
// Team view


.view-partners,
.view-consultant,
.view-senior-consultant,
.view-consultant2,
.view-research-consultant,
.view-practice-group,
.view-by-location,
.view-managers,
.team-list {
	.views-row {
		float: left;
		// max-width: 253px;
		max-width: 211px; // adjusting image sizes on team to 205px w and 246 px h
		margin-right: 2%;
		// min-height: 470px;
		min-height: 398px;
		// margin-bottom: 40px;
		margin-bottom: 30px; // adjusting image sizes on team to 205px w and 246 px h
		.field-name-field-linkedin,
		.views-field-title {
			margin-top: 14px;
		}
		.field-name-field-linkedin {
			float: left;
			margin-right: 6px;
			}
		.view-field-field-job-title {
			clear: left;
			}
		.views-field-field-image-page .picframe img {
			width: 205px; // adjusting image sizes on team to 205px w and 246 px h
		}
	}
	.views-row-last {
		margin-bottom: 0;
		min-height: 0;
	}
}


.view-practice-group,
.view-by-location,
.view-managers {
	.views-row {
		min-height: 380px; 
	}
}


.pagination {
	clear: both;
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Biography pages -- TEAM detail

.node-type-team .region-content {
	.field-name-body {
			p:nth-child(1) { // removes padding of the first paragraph on team pages
			margin-top: 0;
		}
	}
	.picframe {
		float: left;
		margin-right: 16px;
		margin-right: 1rem;
		img {
			width: none !important;
		}
	}
}


// LinkedIn specific stylings

.linkedin-profile-inner {
	float: left;
	margin-right: 6px;
	}



.field-name-field-email-person,
.views-field-view-node,
.field-name-field-email-biography p {
	// clear: left;
}

// when linkedIn appears in right sidebar

.region-sidebar-right {
	.picframe {
		margin-bottom: 16px;
		margin-bottom: 1rem;
	}
	.field-name-field-email-biography p {
		margin-top: 0;
	}
}




//===========================================================
// Databases Database

// Executive Compensation Database landing page
#node-785 .field-name-body p {
	margin-top: 0;
}

// Premium Compensation Database Login
#node-752 .field-name-body p {
	margin-top: 2px;
}





//===========================================================
// Practice Group pages

.field-name-field-pg-image {
	p {
		margin-top: 0;
	}
}





//===========================================================
// Social Media buttons footer

ul.social-icons li {
	border-radius: 0;
	-webkit-border-radius:  0;
}

ul.social-icons li.facebook {
background-position: 0 -150px;
}

ul.social-icons li.facebook:hover {
	background-position: 0 -120px;
}

ul.social-icons li.twitter {
background-position: 0 -1170px;
}

ul.social-icons li.twitter:hover {
background-position: 0 -1140px;
}

ul.social-icons li.linkedin {
background-position: 0 -570px;
}

ul.social-icons li.linkedin:hover {
background-position: 0 -540px;
}

ul.social-icons li.googleplus {
background-position: 0 -330px;
}

ul.social-icons li.googleplus:hover {
background-position: 0 -300px;
}

ul.social-icons li.rss {
background-position: 0 -930px;
}

ul.social-icons li.rss:hover {
background-position: 0 -900px;
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––





//===========================================================
// SIDEBAR Blocks

.region-sidebar-left,
.region-sidebar-right {
	#block-block-31 h3 // Premium Compensation Database
	 {
	}
}



//===========================================================
// CONTACT By Region By City By country

#block-block-41 { // Position the Our Office menu
	margin-top: 70px;
	margin-top: 4.375rem;
}

#block-block-40 { // Block of RS worldmap
	// max-height: 470px;
	max-height: 432px;
}

body.page-node-904 {
	#block-pedersenandpartners-navigation-navigation {
		margin-top: 76px;
		margin-top: 4.75rem;
	}
}

// Move table content closer to tabs
.ui-tabs .ui-tabs-panel {
	padding-top: 0;
}

ul.ui-tabs-nav li.ui-state-default /* By city */
{
	padding-left: 17px;
	/*padding-right: 155px!important;*/
	/*padding-left: 2%;*/
	width: 28.5%;
	// width: 157px; // 211px; // 267px
	margin-right: 1%;
}

ul.ui-tabs-nav li.ui-state-default:last-child {
	margin-right: 0 !important;
	// width: 158px; // 212px; //268px
	width: 28%;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 0.5em 0;
	// make whole tab clickable
	width: 100%;
	display: block;
}

.ui-state-default, 
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: $locationmap;
	&:hover, &:focus {
		background: lighten($locationmap, 1%);
	}
}

.ui-state-active {
	background: white !important;
}

#block-views-contact-us-block,
#block-views-contact-us-block-2,
#block-views-contact-us-block-1 {
	div.content div.view div.view-content {
	position: relative;
	margin: 28px 0px 0px 0px;
	}
}

#quicktabs-tabpage-contact_us_landing_page-1 div.view-id-contact_us div.view-content div.item-list h3,
#quicktabs-tabpage-contact_us_landing_page-2 div.view-id-contact_us div.view-content div.item-list h3,
.view-contact-us .view-content div.item-list h3,
#block-views-contact-us-block-1 .view-contact-us .view-content div.item-list p

{
	float: left;
	margin: 0 0 8px 0 !important;
	clear: both; /* added 09.11.2012 for chrome browsers on Mac OSX; floating did not work there; the .view-contact-us.view-content div.item-list { clear: both } notation would not work */
}

ul.-field_city {
	margin-top: 8px !important;
	clear: left;
}

#block-views-contact-us-block-1 {
	.view .item-list {
		h3 {
			// display: block;
			// height: 32px;
			// height: 2rem;
			padding-right: 12px;
			padding-right: .75rem;
			// margin-top: -3px !important;
		}
		ul {
			height: 20px;
			height: 1.25rem;
			margin-bottom: 12px !important;
		}
		li {
			line-height: 16px;
			line-height: 1rem;
		}
	}
}




//===========================================================
// Search Results

ol.search-results {
	padding-left: 0;
	.field-name-field-tags {
		margin-top: 16px;
		margin-top: 1rem;
	}
}

.view-mode-search {
	padding-bottom: 32px;
	padding-bottom: 2rem;
	border-bottom: 1px solid $grayborder;
}





//===========================================================
// FOOTER

footer {
	background-color: white !important;
	border-top: 0;
	background-image: url('../images/shadow.png');
	background-size: 1280px 20px;
	background-position: center top;
	background-repeat: no-repeat;
	// height: 20px;
	padding-top: 20px;
	border-top: 8px solid $yellow;
	input[type="checkbox"] {
		height: 20px;
		width: 16px;
		// margin-top: -4px;
	}
	input[type="text"] {
		height: 30px;
		height: 1.875rem;
	}
	#block-block-35 p:first-child {
		margin-top: 16px !important;
		margin-top: 1rem !important;
	}
	ul.tweet_list {
		padding-left: 0 !important;
		margin-top: 17px;
		margin-top: 1.0625rem;
	}
	.tweet_avatar {
		display: none;
	}
	ul.menu {
		padding-left: 0;
		margin-top: 0;// 10px;
		// margin-top: .625rem;
		li {
			margin-left: 0;
			list-style: none;
		}
	}
	ul.social-icons {
		margin-top: 24px;
		margin-top: 1.5rem;
	}
	div.footer-copyright {
		margin-top: 9px;
		margin-top: 0.5625rem;
		padding-top: 12px;
		padding-top: .75rem;
		background: $blue;
		padding-bottom: 0;
		border-top: 0 !important;
		div.row div.span6 {
			margin-bottom: 16px;
			margin-bottom: 1rem;
		}
	}
}

footer div.container div.row > div {
	// margin-bottom: 0!important;
}


// LINKS Sitemap in footer

.region-footer-1 .block-block {
	.span2 {
		margin-left: 0;
	}
}

// Tweet link

.tweet-link {
	a {
		color: $blue !important;
		text-decoration: underline;
		font-size: 11px;
		font-size: .687543rem;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}


// NOT FRONT
// space between main content und footer on content pages

.not-front footer {
	margin-top: 35px;
}


//===========================================================
// Pager on news overview


// hide <<first and last>> buttons in pager
.disabled a {
	display: none;
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

/*@media only screen and (min-width: 1200px) {
	[class*="span"] {
		margin-left: 20px
	}
}

@media only screen and (max-width: 979px) {
	[class*="span"] {
		margin-left: 10px
	}
}

[class*="span"] {
	margin-left: 10px;
}*/

.form-type-select label {
	display: none;
}

/* Hide Menu link "Sidebar" in main menu */

ul.nav>li:last-child {
	display: none;
}


//===========================================================
// SITEMAP

body.sitemap {
	.menu-block-wrapper {
		ul {
			li {
				list-style: none;
				list-style-type: none;
				a {
					color: $blue;
					text-decoration: underline;
					&:hover, &:focus {
						text-decoration: none;
					}
				}
			}
			li.first {
				margin-left: 0 !important;
				a {
					font-size: 20px !important;
				}
			}
		}
	}
}


/* News detail page */

/*.group-portrait-wrapper {
	float: left;
	width: 25%;
}

.node-article .field-name-body {
	float: right;
	width: 75%;
}*/

/* RETINA SPECIFIC STYLINGS */

@media (min--moz-device-pixel-ratio: 1.5),
       (-o-min-device-pixel-ratio: 3/2),
       (-webkit-min-device-pixel-ratio: 1.5),
       (min-device-pixel-ratio: 1.5),
       (min-resolution: 1.5dppx) {
  /* on retina, use image that's scaled by 2 */
  section.featured.map {
    // background:url('../images/homepage-background2x.png');
	} 
}


// In the media view

.view-admin-in-the-media-2013-2014 .views-row {
	margin-bottom: 32px;
	a {
		color: $blue;
	}
}
