/*
// Specific stylings for fonts 
* Font family
* Sizes ==> see also init.scss
* Font color
*/

//===========================================================
// Headings


// Font Family
h1, h2, h3, h4 {
	font-family: $roboto;
}

// colors and weight
h1  {
	color: white;
	font-weight: 100 !important;
	.front & {
		color: $blue;
	}
	.front .panel-col & {
		font-size: $h3-font-size; // 24px;
	}
}

section.page-top h1 {
	font-size: $h1-font-size !important;
	text-transform: uppercase;
}

h2, h3, h4 {
	color: $blue;
	font-weight: 300 !important;
}

h3 {
	font-size: $h3-font-size;
	text-transform: none;
}

// Latest News / Consultant Spotlight

.front section.featured {
	.span4 h2,
	.span8 h2 {
		font-size: 36px;
		font-size: 2.25rem;
	}
	.span8 h4 {
		font-family: $roboto;
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 32px;
		line-height: 2rem;
	}
	.read-more {
		color: $blue;
	}
}



// ASSURANCES

.page-node-8 {
	.field-name-body {
		p {
			font-family: $roboto;
			color: $blue;
			font-size: $h3-font-size;
			font-weight: 300;
		}
	}
}





// TEAM VIEW

.view-partners,
.view-consultant,
.view-senior-consultant,
.view-consultant2,
.view-research-consultant,
.view-practice-group,
.view-by-location,
.view-managers,
.team-list {
		.views-row {
		font-size: 14px;
		font-size: .875rem;
		.views-field-title span a {
			color: $blue;
			font-weight: 700;
			text-decoration: none;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
		.views-field-view-node span a,
		.field-name-field-email-person a {
			color: $blue;
			text-decoration: underline;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}





//===========================================================
// LinkedIn sidebar
// when linkedIn appears in right sidebar

.region-sidebar-right {
	.views-field-title, // Name of person
	.views-field-nothing, // Title
	.views-field-view-node, // Link to biography
	.field-name-field-email-biography {
		font-size: 14px;
		font-size: .875rem;
	}
}





//===========================================================
// SIDEBAR MENU

.block-menu-block ul.menu {
	li.collapsed,
	li.expanded,
	li.leaf {
		font-size: 14px;
	}
}








//===========================================================
// LINKS

.field-name-body {
	a, li>a, p>a {
		color: $blue;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}





//===========================================================
// FOOTER

footer {
	h2 {
		color: $blue !important;
	}
	p a, 
	.tweet_text,
	.tweet_text a,
	ul.menu>li>a {
		color: $gray !important;
	}
	.tweet_time a {
		color: $yellow !important;
	}
	.footer-copyright {
		p, a {
			color: white !important;
		}
	}
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Main menu


.region-header-menu .menu-name-main-menu li a {
	font-family: $roboto !important;
	// font-size: 14px !important;
	// font-size: .875rem !important;
	font-size: $base-font-size !important;
	text-transform: none !important;
	color: $blue;
	font-weight: 400 !important;
}

nav ul.nav-main ul.dropdown-menu, 
nav ul.nav-main li.dropdown.open a.dropdown-toggle, 
nav ul.nav-main li.active a
 {
	background: none;
}

.nav-pills > .active > a, 
.nav-pills > .active > a:hover, 
.nav-pills > .active > a:focus,
nav ul.nav-main li a:hover,
nav ul.nav-main li a:focus {
	color: $yellowbottom;
	background: none;
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

//===========================================================
// Submenu


ul.dropdown-menu li {
	> a {
		color: $graydropdown !important;
		&:visited {
			color: darken($graydropdown, 5%) !important;
		}
		&:hover, &:focus, &:active, &.active {
			color: $blue !important;
		}
	}
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Breadcrumb


ul.breadcrumb {
	li {
		a {
			color: white;
			font-size: 14px;
			font-size: .875rem;
			&.active {
				color: $yellowtext;
			}
		}
	}
}