/*
// Specific stylings for fonts 
* Font family
* Sizes ==> see also init.scss
* Font color
*/

//===========================================================
// Headings


// Font Family
h1, h2, h3, h4 {
	font-family: $roboto;
}

// BUTTON btn-warning

.btn-warning {
	@include background-image(linear-gradient($yellowtop, $yellowbottom));
	text-shadow: none !important;
}

// colors and weight
h1  {
	color: white;
	font-weight: 100 !important;
	.front & {
		color: $blue;
	}
	.front .panel-col & {
		font-size: $h3-font-size; // 24px;
		font-weight: 300 !important;
	}
}

section.page-top h1 {
	font-size: $h1-font-size !important;
	text-transform: uppercase;
}

h2, h3, h4 {
	color: $blue;
	font-weight: 300 !important;
	.gecko.win &,
	.chrome.win & {
		// font-weight: 400 !important;
	}
}

h2 {
	line-height: 1.1em;
}

.block-pedersenandpartners-mobile-navigation { // changing font size for Quick Select on mobile
	h2 {
		font-size: 22px;
		font-size: 1.375rem;
	}
}

h3 {
	font-size: $h3-font-size;
	text-transform: none;
	line-height: 1.1em;
}

.field-name-body h3 {
	font-size: $h3-new-font-size;
}

p, select {
	color: $gray;
}

.consent-text {
	font-size: $base-font-size;
}

.download { // pdf links on news detail pages
	font-size: 14px;
	font-size: .875rem;
}

// labels
	.label-inline.event-date,
	.event-label {
		font-weight: 700;
	}

// Sidebar bios
.region-sidebar-right .view-press-release-marketing-manager .views-field-title span a {
	color: $blue;
	font-weight: 700;
}

// Select country front

.input-append .btn, // Submit button newsletter
.about-country-front .form-select.jquery-once-3-processed {
	color: $gray !important;
}

// Latest News / Consultant Spotlight

.front section.featured {
	.span4 h2,
	.span8 h2 {
		font-size: 32px;
		font-size: 2rem;
	}
	.span8 h4,
	.span4 h4 {
		font-family: $roboto;
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 32px;
		line-height: 2rem;
	}
	.read-more {
		color: $blue;
	}
}



// ASSURANCES

.page-node-8 {
	.field-name-body {
		p, div {
			font-family: $roboto;
			color: $blue;
			font-size: $h3-font-size;
			font-weight: 300;
			margin-right: 15px;
			margin-left: 15px;
			.gecko.win &,
			.chrome.win & {
				font-weight: 400;
			}
		}
	}
}





// TEAM VIEW

.view-partners,
.view-consultant,
.view-senior-consultant,
.view-consultant2,
.view-research-consultant,
.view-practice-group,
.view-by-location,
.view-managers,
.team-list {
		.views-row {
		font-size: 14px;
		font-size: .875rem;
		line-height: 20px;
		.views-field-title span a {
			color: $blue;
			font-weight: 700;
			text-decoration: none;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
		.views-field-view-node span a,
		.field-name-field-email-person a {
			color: $blue;
			text-decoration: underline;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}





//===========================================================
// LinkedIn sidebar
// when linkedIn appears in right sidebar

.region-sidebar-right {
	.views-field-title, // Name of person
	.views-field-nothing, // Title
	.views-field-view-node, // Link to biography
	.field-name-field-email-biography {
		// font-size: 14px;
		// font-size: .875rem;
		@include adjust-font-size-to( 14px );
	}
}





//===========================================================
// SIDEBAR MENU

.block-menu-block ul.menu {
	li.collapsed,
	li.expanded,
	li.leaf {
		font-size: 14px;
		font-size: .875rem;
		a {
			.chrome.win {
			font-weight: 400 !important;
			}
		}
	}
}




//===========================================================
// SIDEBAR Blocks

.region-sidebar-left,
.region-sidebar-right {
	h3 {
		line-height: 1.125em;
	}
}




//===========================================================
// OFFICES

.city-country {
	font-family: $roboto;
	@include adjust-font-size-to( $h2-font-size );
	color: $blue;
	font-weight: 300;
	.gecko.win &,
	.chrome.win & {
		font-weight: 400;
	}
}

.city {
	font-weight: 700 !important;
}

.node-offices {
		h3 {
		line-height: 1.25em;
		}
}

.field-name-field-email-office .btn-warning {
	// font-size: 12px;
	// font-size: .75rem;
	text-align: left;
	color: white !important;
	text-decoration: none;
	a:hover {
		text-decoration: none;
	}
}

.location-map h3 span a {
	color: $blue;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

// sidebar
// news
// our events
// regional news

body.page-events-all, // Events archive
body.node-type-in-the-media, // in the media
body.node-type-insights-article, // insights
body.node-type-article, //press releases
body.node-type-events,
body.node-type-offices {
	.views-field-title {
		span a {
			color: $blue;
			font-size: 16px;
			font-size: 1rem;
			text-decoration: underline;
		}
	}
	.field-name-field-tags { // news
		font-size: 12px;
		font-size: .75rem;
	}
	.views-field-field-events-date, // events
	.views-field-field-events-city, // events
	.views-field-created { // offices
		div, // events
		span { // offices
			font-size: 12px;
			font-size: .75rem;
		}
	}
}


body.node-type-offices {
	.view-office-team-members {
		.views-row {
			.views-field-title span a {
				font-weight: 700;
			}
			div span a,
			.views-field-field-email-person div div a,
			.field-name-field-job-title {
				font-size: 14px;
				font-size: .875rem;
			}
		}
	}
}




//===========================================================
// LinkedIn specific

.field-name-field-email-person,
.views-field-view-node,
.field-name-field-email-biography p {
	a {
		color: $blue;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}





//===========================================================
// LINKS
.node,
.view-footer,
.field-name-body {
	a, li>a, p>a {
		color: $blue;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}





//===========================================================
// NEWS landing page

.view-events-overview,
#quicktabs-news {
	ul.quicktabs-tabs {
		li {
			a {
				font-family: $roboto;
				color: $blue;
			}
			&.active a {
					color: $yellow;
			}
		}
	}
	.views-row {
		span {
			font-size: 14px;
			font-size: .875rem;
		}
	}
}

h2.news-header {
	line-height: 1.25em;
	a {
		color: $blue;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

.btn-news a {
	font-size: 12px;
	font-size: .75rem;
	color: white !important;
	text-decoration: none;
	:hover, :focus {
		text-decoration: none;
	}
}

.news-tags {
	color: $blue;
}


// pagination

.pagination {
	ul {
		li {
			a {
				color: $grayborder; //$pagination
				&:hover, &:focus {
					color: white !important;
				}
			}
		}
		li.active {
			a {
				color: white;
			}
		}
	}
}

.pagination ul > li > a:hover, 
.pagination ul > li > a:focus, 
.pagination ul > .active > a, 
.pagination ul > .active > span {
	@extend .btn-warning;
}





//===========================================================
// CONTACT By Region By City By country

.ui-state-default a, 
.ui-state-default a:link, 
.ui-state-default a:visited,
.ui-state-default a:hover,
.ui-state-default a:active,
.ui-state-default a:focus,
.ui-state-hover a,
.ui-state-hover a:link,
.ui-state-hover a:visited, 
.ui-state-hover a:hover,
.ui-state-hover a:active,
.ui-state-hover a:focus,
.ui-state-active a, 
.ui-state-active a:link, 
.ui-state-active a:visited,
.ui-state-active a:hover,
.ui-state-active a:active,
.ui-state-active a:focus {
	font-family: $roboto;
	font-size: 20px;
	font-size: 1.25rem;
	color: $blue;
	font-weight: 300;
	.gecko.win &,
	.chrome.win & {
		font-weight: 400;
	}
	@media only screen and (max-width: 480px) {
		font-size: 16px;
		font-size: 1rem;
	}
}


#quicktabs-tabpage-contact_us_landing_page-1 div.view-id-contact_us div.view-content div.item-list h3,
#quicktabs-tabpage-contact_us_landing_page-2 div.view-id-contact_us div.view-content div.item-list h3,
.view-contact-us .view-content div.item-list h3,
#block-views-contact-us-block-1 .view-contact-us .view-content div.item-list p

{

	font-size: 16px!important;
	font-size: 1rem;
	color: $blue;
	font-weight: 700!important;
/*	line-height: 26px;*/
}

#quicktabs-contact_us_landing_page div div div .content .cols-3  span.field-content a,
.view-contact-us table.cols-3 tr td div.views-field-title span a,
.view-contact-us div.views-field-title a

{
	font-weight: 300;
	.gecko.win &,
	.chrome.win & {
		font-weight: 400;
	}
	text-decoration: none;
	color: $gray;
	font-size: 16px;
	font-size: 1rem;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

// By City - make first letter blue

p.city:first-letter {
	color: $blue;
}



//===========================================================
// Search Results

.search-api-page-results {
	p {
	}
	>h2 {
		font-family: $roboto;
		font-size: 24px;
		font-size: 1.5rem;
	}
}

ol.search-results {
	h2 {
		a {
			font-family: $roboto;
			color: $blue;
		}
	}
	.more-link {
		display: block;
		text-align: left;
	}
	.field-name-field-tags {
		font-size: 12px;
	}
}




//===========================================================
// FOOTER

footer {
	h2 {
		color: $blue !important;
		font-size: 24px;
		// http://help.dimsemenov.com/kb/royalslider-jquery-plugin-issues/font-flickering-or-blurriness
		// instead of dimsemonov's solution I have applied 
		// http://stackoverflow.com/questions/9049524/safari-rendering-page-fonts-thinner-with-jquery-slider-on-page
		// see _default.scss lines 487 - 490
		.mac.webkit & {
			// -webkit-backface-visibility:hidden;
			// http://stackoverflow.com/questions/9049524/safari-rendering-page-fonts-thinner-with-jquery-slider-on-page
			//  -webkit-font-smoothing: antialiased; // this also works but disabled for now
			// font-weight: 400;
		}
	}
	p a, 
	.tweet_text,
	.tweet_text a,
	ul.menu>li,
	ul.menu>li>a {
		color: $gray !important;
		// http://help.dimsemenov.com/kb/royalslider-jquery-plugin-issues/font-flickering-or-blurriness
		.mac.webkit & {
			// -webkit-backface-visibility:hidden;
			// font-weight: 400;
		}
	}
	.tweet_time a {
		color: $yellow !important;
	}
	.footer-copyright {
		p, a {
			color: white !important;
		}
	}
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Main menu


.region-header-menu .menu-name-main-menu li a {
	font-family: $roboto !important;
	// font-size: 14px !important;
	// font-size: .875rem !important;
	font-size: $base-font-size !important;
	text-transform: none !important;
	color: $blue;
	font-weight: 400 !important;
}

.gecko.win,
.chrome.win {
	.region-header-menu .menu-name-main-menu>ul.nav>li>a {
	font-weight: 700 !important;
	}
}

nav ul.nav-main ul.dropdown-menu, 
nav ul.nav-main li.dropdown.open a.dropdown-toggle, 
nav ul.nav-main li.active a
 {
	background: none;
}

.nav-pills > .active > a, 
.nav-pills > .active > a:hover, 
.nav-pills > .active > a:focus,
nav ul.nav-main li a:hover,
nav ul.nav-main li a:focus {
	color: $yellowbottom;
	background: none;
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

//===========================================================
// Submenu


ul.dropdown-menu li {
	> a {
		color: $graydropdown !important;
		&:visited {
			color: darken($graydropdown, 5%) !important;
		}
		&:hover, &:focus, &:active, &.active {
			color: $blue !important;
		}
	}
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Breadcrumb


ul.breadcrumb {
	li {
		a {
			color: white;
			font-size: 14px;
			font-size: .875rem;
			&.active {
				color: $yellowtext;
			}
		}
	}
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Blue section - Executive Services

body.page-node-3 {
	#executive-search-blue-section p {
	color: $blue !important;
	margin-top: 1em;
	margin-bottom: .5em;
	}
	.headline {
		color: $yellow;
		text-align: center;
	}
	.arrow-down {
		background-image: url("../images/arrow-down-executive-search.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
	}
}


// published by news section

.field-name-field-published-by-text,
.published-by-link {
	font-size: 11px;
	font-size: 0.6875rem;
	font-style: italic;
}