/* Einstern_2014 for Pedersen & Partners */
/* holds all styles for screen widths of 980 px to 1199px */

@media only screen and (min-width: 980px) and (max-width: 1199px) {

//===========================================================
// Header

	header {
		height: 120px;
	}

	header .logo {
		margin-top: 36px !important;
	}


	//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––


	//===========================================================
// Main menu

// white space/margin between main menu and blue heading section
	nav ul.nav-main {
		margin-top: -43px !important;
		margin-right: -13px !important;
	}

	.nav-pills > li > a {
		padding-right: 8px !important;
			padding-left: 8px !important;
		}

	.nav-pills > li:first-child > a {
		padding-right: 12px !important;
		padding-left: 12px !important;
		}






//===========================================================
// Slideshow Front




/* FRONTPAGE Royal Slider */
/* 1st row */
	#block-views-frontpage-slider-block .royalSlider {
  	width: 940px !important;
  	max-height: 308px !important;
	}

	#block-views-frontpage-slider-block {
		margin-left: 8px;
	}

	// top and bottom shadow for the image slideshow on frontpage
	.rsBgBottom,
	.rsBgimg {
		background-size: 940 16px;
	}

	.rsBgBottom {
		bottom: -14px;
	} 


// Arrows - navigation

	.view-frontpage-slider .rsDefault.rsHor {
		.rsArrowLeft {
			top: 24% !important;
		}
		.rsArrowRight {
			top: 24% !important;
		}
	}




//===========================================================
// Frontpage Panels

// bottom shadow for the image slideshow on frontpage
	.front .panel-col {
		background-size: 940px 16px;
	}

	.front {
		.content .row .span12 {
		margin-left: 12px; 
		}
		// About, Services, Practice Groups
		.panel-col .span4 {
			margin-left: 8px;
		}
		// Consultant spotlight
		section.featured .span4 {
			margin-left: 10px;
		}
	}

//===========================================================
// Consultant Spotlights

#royal-slider-front-consultant {
	width: 300px;
}

.view-frontpage-consultant-spotlight .rsDefault .rsOverflow {
	height: 240px !important;
}




//===========================================================
// Latest News

	section.featured .recent-posts {
		.row {
			margin-left: -10px;
		}
	}

	.flexslider.unstyled {
		// width: 620px !important; // 2 slides
		width: 300px !important;

	}

	.flexslider .flex-viewport ul>li {
		// width: 310px !important; // 2 slides
		width: 300px !important;
	}



	.flex-control-nav li:nth-child(3),
	.flex-control-nav li:nth-child(4) {
		// display: none; // 2 slides
	}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




	//===========================================================
// Team view


.view-partners,
.view-consultant,
.view-senior-consultant,
.view-consultant2,
.view-research-consultant,
.view-practice-group,
.view-by-location,
.view-managers,
.team-list {
		.views-row {
		max-width: 217px;
		margin-right: 20px;
		// min-height: 470px;
	}
}




	//===========================================================
// Quick Select Menu

.region-sidebar-left select {
	width: 230px; /* 220px - 5px */
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Button Find an office location 


.region-sidebar-left .btn-warning,
.region-sidebar-right .btn-warning {
	width: 194px; // 190px; /* 220px - 30px */
	text-align: left;
	margin: 12px 0 24px 0;
}

.region-sidebar-right .btn-warning {
	// width: 197px;
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Brochure Image


#block-block-10 .content {
	.image {
		width: 218px;
		height: 218px;
	}
}




//===========================================================
// Team images

// Team photos in right sidebar
.region-sidebar-right {
	.field-name-field-image-page img {
		width: 212px; // adjusting image sizes on team from 205px w to 212 on smaller screens
	}
}



//===========================================================
// CONTACT By Region By City By country


	#block-quicktabs-contact-us-landing-page {
		margin-top: -70px;
	}

.quicktabs-ui-wrapper,
ul.ui-tabs-nav {
	width: 700px !important; // 870px
}

ul.ui-tabs-nav li.ui-state-default /* By city */
{
	padding-left: 17px;
	/*padding-right: 155px!important;*/
	/*padding-left: 2%;*/
	/*width: 33%;*/
	width: 211px; // 267px
	margin-right: 4px;
}

ul.ui-tabs-nav li.ui-state-default:last-child {
	margin-right: 0 !important;
	width: 213px; // 212px; //268px
}





//===========================================================
// NEWS landing page


.view-events-overview,
#quicktabs-news {
	ul.quicktabs-tabs {
		li {
			margin-right: 10px !important;
			margin-right: 0.6rem !important;
			
		}
	}
}



} // end media query