/* Einstern_2014 for Pedersen & Partners */
/* holds all styles for screen widths of 0 px to 767px */

@media only screen and (max-width: 767px) {


	//===========================================================
	// Disable left sidebar blocks
	#header-top,
	#sidebar-left {
		display: none;
	}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Header Region with logo and mobile menu 
	header .logo {
		float: none !important;
		text-align: center;
		margin-right: 0;
	}

	header nav {
		width: 100%;
		float: none;
	}

	.mobile-menu {
		width: 284px;
		float: none;
		margin: 24px auto;
		margin: 1.5rem auto;
	}

	//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––


	//===========================================================
	// Frontpage vertical alignment of blocks

	// About

		.about-country-front {
		margin-top: -21px;
		margin-top: -1.3125rem;
		h1 {
			margin-top: 0 !important;
		}
	}

// map section

div.map-section {
	margin-top: 22px;
	margin-top: 1.375rem;
}

// consultant spotlight header

div.map-section .span-first h2 {
	margin-top: 18px;
	margin-bottom: 18px;
}

// newsletter {
div.map-section .span-last {
	padding-top: 0;
}

footer {
	margin-top: 60px;
}


	//===========================================================
	// Map in consultant spotlight

	section.featured.map {
		// background-position: left center;
		background-image: none;
	}


	//===========================================================
	// Vertical spacing for the blocks in the right sidebar and after content region

		.region-sidebar-right {
		margin-bottom: 8px; // If there is a right sidebar we need some more margin for the spacing between
		// the right sidebar and the button "Find an office location"
		margin-bottom: .5rem;
		#block-views-regional-news-block .views-row-last, // If there is a view in the right sidebar like on office pages
		#block-block-9  { // If there is a button as last element in the right sidebar like on about us
			// margin-bottom: 28px !important; 
			// adjust the spacing between the view and Fin and office location.
		}
	}

		.page-node-824 .field-name-body ul { // Services landing
			margin-bottom: 0 !important;
		}

	.field-name-body p:last-child,
	.node-services .field-name-field-link-team {
		margin-bottom: 8px !important
	}

		.page-node-8 .region-sidebar-right { // assurances page
			margin-top: 48px !important;
		}




	.region-after-content .block-menu-block {
		margin-bottom: 30px; // spacing between Menu and Quick tabs
	}

	.region-after-content #block-menu-block-28 {
		margin-bottom: 20px;
	}

	.region-after-content { // spacing between main content and menu on all pages except team pages
		margin-top: 22px;
		margin-top: 1.375rem;
	}

	.region-sidebar-right .view-footer p {
		margin-bottom: 12px;
		margin-bottom: 0.75rem;
	}

	#block-block-9 { // Download corporate brochure
		margin-bottom: 12px;
		margin-bottom: .75rem;
	}

// team pages

body.page-team-partners,
body.page-team-clientpartners,
body.page-team-principals,
body.page-team-consultants,
body.page-team-research-consultants,
body.page-team-practice-group,
body.page-team-location,
body.page-team-managers,
body.node-type-team {
	.region.region-after-content {
    margin-top: 32px;
    margin-top: 2rem;
	}
}

	#block-block-43,  // Mobile: Find an office location
	.region-sidebar-right #block-block-10 { // Mobile: Coporate brochure in sidebar on About pages
		margin-top: 20px; // Top spacing between Find an office location and main content if there is no right sidebar
		margin-top: 1.25rem;
	}

	.menu-block-wrapper ul.menu { 
		margin-top: 13px; // Top spacing between Find an office location and menu
		margin-top: 0.8125rem;
		//margin-bottom: 29px; // Bottom spacing between menu and Quick select
		// margin-bottom: 1.8125rem;
		#block-menu-block-28 & { // Mobile: Office menu for office pages
		margin-bottom: 4px; // Bottom spacing between menu and Quick select
		margin-bottom: .25rem;
		}
	}


	.block-pedersenandpartners-mobile-navigation { // Spacing between Quick Select and the footer
		// margin-top: 29px; // top spacing beween Quick Select and menu or "Find an office location"
		// margin-top: 1.8125rem; //
		margin-top: 0; // if there is no menu and no button above Quick Select
		margin-bottom: 50px;
		margin-bottom: 3.125rem;
	}

	body.page-node-904 { // candidates page
		.block-pedersenandpartners-mobile-navigation {
			margin-top: 44px;
			margin-top: 2.75rem;
		}
	}

	.region {
		select {
		width: 100%;
		}
		#block-block-9,
		#block-block-43 {
			.btn-warning {
			width: 96.4%;
			}
		}
	}

	.btn {
		text-align: left;
	}

	//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––


//===========================================================
// Team view

	.view-partners,
	.view-consultant,
	.view-seniorconsultant,
	.view-senior-consultant,
	.view-consultant2,
	.view-research-consultant,
	.view-practice-group, 
	.view-by-location,
	.view-managers,
	.view-office-team-members {
		.views-row-2,
		.views-row-4,
		.views-row-6,
		.views-row-8,
		.views-row-10,
		.views-row-12,
		.views-row-14,
		.views-row-16,
		.views-row-18,
		.views-row-20,
		.views-row-22,
		.views-row-24,
		.views-row-26,
		.views-row-28,
		.views-row-30 {
			// margin-right: 0 !important;
		}
	}

//===========================================================
// Slider LATEST NEWS

	.front section.featured {
		// margin-right: 0;
		// margin-left: 0;
		padding-left: 20px;
	}

	.flexslider ul.slides li {
		// max-width: 380px !important;
	}

.front section.featured .span4 h4,
	div.map-section ul.slides li .span4 article p {
	margin-right: 8px;
	margin-right: .5rem;
}

// Slider Consultant Spotlight

#royal-slider-front-consultant {
	// width: 570px;
	width: 100%;
	.field-name-field-image-page {
		margin-right: 12px;
		margin-right: .75rem;
	}
}

// Consultant spotlight

.view-frontpage-consultant-spotlight {
	.job-title{
		 div {
			margin-right: 30px;
			}
		}
	.consultant-body {
			div {
			margin-right: 8px;
			margin-right: .5rem;
			}
		}
}

// newsletter

.span4.span-last > p {
	margin-right: 8px;
	margin-right: .5rem;
} 

//===========================================================
// News landing page

.field-content.picframe.news-landscape img {
    width: 90%;
}

#block-views-f0652b421151e735c4e360d18c6179db { // Mark's module/view

	margin-top: 16px;
	margin-top: 1rem;
}

div a,
p a,
.group-pdf-link-wrapper .download {
	-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

}

// news detail

#block-views-e2db768c00fee716397bd6646c49ee18 // Latest News block on news detail
{
	margin-top: 36px;
	margin-top: 1.25rem;
}


//===========================================================
// Royal Slider Frontpage

// Hide navigation for banner slider
.rsArrow,
.rsArrowIcn {
	display: none !important;
}

.front .panel-col {
	padding-top: 35px;
	padding-top: 2.1875rem;
}


// adjusting vertical space between Practice Groups and Services above and Consultant Spotlight below

.practice-groups-front {
	margin-top: 16px;
	margin-top: 1rem;
	// margin-bottom: 11px;
	// margin-bottom: 0.6875rem;
}

// adjusting vertical space between Consultant spotlight and Latest News

h2.latest-news,
h2.newsletter {
	margin-top: 0;
}




//===========================================================
// Practice Groups

// PG landing

.page-node-830 {
	.field-name-body {
		.span3-pg-first ul {
			margin-bottom: 0 !important;
		}
		.span4 ul {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		}
	}
}


// Spacing between references

.references2 {
	margin-top: -23px;
	margin-top: -1.4375rem;
}


//===========================================================
// OFFICES

.city-country-wrapper {
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

span.city-country { 
	// line-height: 1.125em;
}

//===========================================================
// Contact Us


// Remove world map on mobile

#block-block-40 {
	display: none;
}

// Tabs


ul.ui-tabs-nav li.ui-state-default {
	width: 26%;
}

ul.ui-tabs-nav li.ui-state-default:last-child {
    width: 28.5%;
}


//===========================================================
// news tags

.node .news-tags {
	display: block;
	width: 90%;
}

#block-views-events-block-1 {
margin-top: 32px;
	margin-top: 2rem;
}


//===========================================================
// SITEMAP

.panel-2col-stacked {
	.panel-col-first,
	.panel-col-second {
    float: none;
    width: 100%;
   }
}

.sitemap-services ul {
	margin-bottom: 0;
}

.sitemap-practice-groups ul {
	margin-top: 8px !important;
	margin-top: .5rem !important;
}

.sitemap-contact ul {
	margin-bottom: -4px; // spacing bottom between last menu item Contact and footer
}



//===========================================================
// Footer menu

// fix spacing between the two columns

footer ul.menu {
	margin-bottom: 0 !important;
}


} // end media query