/* Einstern_2014 for Pedersen & Partners */
/* holds all styles for screen widths of 768 px to 979px */

@media only screen and (min-width: 768px) and (max-width: 979px) {


	//===========================================================
// Main menu

// white space/margin between main menu and blue heading section

	nav ul.nav-main {
		margin-top: 0 !important; // -15px !important;
		margin-right:  -17px !important; // -3px !important;
		margin-bottom:  11px !important; // 15px !important;
	}





//===========================================================
// Slideshow Front


/* FRONTPAGE Royal Slider */
/* 1st row */
	#block-views-frontpage-slider-block .royalSlider {
  	width: 724px !important;
  	max-height: 238px !important;
	}

	#block-views-frontpage-slider-block {
		margin-left: 8px;
	}


// top shadow for the image slideshow on frontpage
	.rsBgBottom,
	.rsBgimg {
		background-size: 724px 32px;
	} 

	.rsBgBottom {
		bottom: -20px;
	} 


// Arrows - navigation

	.view-frontpage-slider .rsDefault.rsHor {
		.rsArrowLeft {
			top: 24% !important;
		}
		.rsArrowRight {
			top: 24% !important;
		}
	}


	.front {
		.content>div.container>div.row>div.span12 {
		margin-left: 12px; 
		}
		// About, Services, Practice Groups
		.panel-col .span4 {
			margin-left: 8px;
		}
		// Consultant spotlight
		section.featured .span4 {
			// margin-left: 10px;
		}
	}



//===========================================================
// Frontpage Panels

// bottom shadow for the image slideshow on frontpage
	.front .panel-col {
		background-size: 724px 32px;
	}

.front {
	#pedersenandpartners-country-navigation-form {
		margin-bottom: 0;
		.form-item, .form-actions {
			margin-bottom: 0
		}
	}
}

.region.region-after-content {
    margin-top: -3px;
}

// shifting consultant spotlight below Latest News
section.featured {
	div.span4 {
		clear: left;
		width: 760px;
	}
}

// Slider Consultant Spotlight

#royal-slider-front-consultant,
.view-frontpage-consultant-spotlight .rsDefault .rsOverflow {
	height: 166px !important;
}

section.featured .container .row .span-first {
	// width: 370px;
}

#royal-slider-front-consultant {
	// width: 480px;
	// width: 370px;
	width: 724px;
	.views-field-title div.span3 {
		width: 360px;
		// width: 260px;
		// width: 560px !important;
	}
	.job-title {
		width: 360px;
	}
	.field-name-field-image-page {
		margin-right: 12px;
		margin-right: .75rem;
	}
	.job-title {
	}
}


//===========================================================
// Latest News

section.featured .container .row .span8,
section.featured .container .row .span4,
section.featured .container .row .span-second {
	width: 724px;
}

h2.latest-news,
h2.newsletter {
	margin-top: 8px;
	margin-top: 0.5rem;
}

.flexslider.unstyled {
	// width: 480px !important;
	width: 724px !important;
	// margin-left: 12px !important;
	margin-left: 4px !important;
}

	.flexslider .flex-viewport ul {
	li
	 {
		// width: 480px !important;
		width: 360px !important;
		// margin-left: -2px;
	}
	li:nth-child(1) {

	}
	li>div.span4 {
		// width: 480px !important;
		// width: 355px !important;
		width: 360px !important;
		margin-right: 10px;
	}
}

	.flex-control-nav li:nth-child(3),
	.flex-control-nav li:nth-child(4) {
		display: none;
	}







		//===========================================================
// Team view


.view-partners,
.view-consultant,
.view-senior-consultant,
.view-consultant2,
.view-research-consultant,
.view-practice-group,
.view-by-location,
.view-managers,
.team-list {
		.views-row {
			max-width: 163px;
		margin-right: 20px;
		// min-height: 470px;
	}
}




		//===========================================================
// Quick Select Menu

.region-sidebar-left select {
	width: 166px; /* 166px - 5px */
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Button Find an office location 


.region-sidebar-left .btn-warning,
.region-sidebar-right .btn-warning {
	width: 140px; /* 166px - 30px */
	text-align: left;
	margin: 12px 0 24px 0;
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Brochure Image


#block-block-10 .content {
	.image {
		width: 164px;
		height: 164px;
	}
}




//===========================================================
// Team images

// Team photos in right sidebar
.region-sidebar-right {
	.field-name-field-image-page img {
		width: 94%; // adjusting image sizes on team from 205px w to 212 on smaller screens
	}
}



//===========================================================
// CONTACT By Region By City By country


	#block-quicktabs-contact-us-landing-page {
		margin-top: -73px;
	}

.quicktabs-ui-wrapper,
ul.ui-tabs-nav {
	width: 538px !important; // 700px - 870px
}

ul.ui-tabs-nav li.ui-state-default /* By city */
{
	padding-left: 17px;
	/*padding-right: 155px!important;*/
	/*padding-left: 2%;*/
	/*width: 33%;*/
	width: 157px; // 211px; // 267px
	margin-right: 4px;
}

ul.ui-tabs-nav li.ui-state-default:last-child {
	margin-right: 0 !important;
	width: 159px; // 158px; // 212px; //268px
}




//===========================================================
// NEWS landing page


.view-events-overview,
#quicktabs-news {
	ul.quicktabs-tabs {
		li {
			// margin-right: 0px !important;			
		}
	}
}




} // end media query