/* Einstern_2014 for Pedersen & Partners */
/* holds all styles for screen widths of 1200 px and beyond */


@media only screen and (min-width: 1200px) {

	header .logo {
		margin-top: 36px !important;
	}

//===========================================================
// Main menu

// white space/margin between main menu and blue heading section

	// nav ul.nav-main {
	// 	margin-top: -35px !important;
	// 	margin-right: -18px !important;
	// 	margin-bottom: 26px !important;
	// }

	.menu-block-22 .nav-main li {
		a {
			margin-right: 5px;
			margin-left: 5px;
		}
	}


//===========================================================
//Main grid settings

// setting the container width from 1170px to 1138px;
.container, 
.navbar-static-top .container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container {
	width: 1138px !important;
}

.span12 {
	width: 1138px !important; 
}

.span9 {
	width: 846px !important;
}

.span6 {
	width: 551px !important;
}

.span4 {
	width: 358px !important;
}

.span3 {
	width: 238px !important;
}

// right margin +2 for certain spans

.span4-mr,
.span3-mr {
	margin-right: 2px;
}

// Sidebars

// left sidebar
#sidebar-left div.span3 {
	width: 260px !important;
}

// right-sidebar
div.span3.span3-r {
	width: 263px !important;
}



//===========================================================
// Slideshow Front


/* FRONTPAGE Royal Slider */
/* 1st row */
#block-views-frontpage-slider-block .royalSlider {
  width: 1138px !important;
  // max-height: 420px;
}



// top and bottom shadow for the image slideshow on frontpage
	.rsBgBottom,
	.rsBgimg {
		background-size: 1280px 20px;
	}
	
	.rsBgBottom {
		bottom: -8px;
	} 


//===========================================================
// Frontpage Panels

// bottom shadow for the image slideshow on frontpage
	.front .panel-col {
		background-size: 1138px 20px;
	}

div.about-country-front.span4 {
	margin-left: 0;
}

// div.about-country-front.span4,
// div.services-front.span4,
// div.practice-groups-front.span4 {
// 	width: 358px !important;
// }


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––


//===========================================================
// SLIDER SECTION FRONT 


// .featured .span4 {
// 	width: 358px !important;
// }


// consultant spotlight


// Latest news
	.flexslider ul.slides .span4 {
			margin-left: 10px !important;
		}

	.flexslider.unstyled {
		// width: 770px !important; // 2 slides
		// width: 370px !important;
		width: 366px !important; //358px
		margin-left: 20px !important;
	}

	.flexslider .flex-viewport ul>li {
		// width: 385px !important; // 2 slides
		// width: 370px !important;
		width: 366px !important; // 358px
		overflow: hidden;
	}



	.flex-control-nav li:nth-child(3),
	.flex-control-nav li:nth-child(4) {
		// display: none;
	}


//===========================================================
// Team view


.view-partners,
.view-consultant,
.view-senior-consultant,
.view-consultant2,
.view-research-consultant,
.view-practice-group,
.view-by-location,
.view-managers,
.team-list {
		.views-row {
		// margin-right: 38px;
		// min-height: 470px;
		margin-right: 105px; // adjusting image sizes on team to 205px w and 246 px h
	}
}



//===========================================================
// Biography pages -- TEAM detail

.node-type-team .region-content {
	.field-name-body {
		margin-left: 272px;
	}
	.field-name-field-linkedin  {
		margin-left: 272px;
	}
	.field-name-field-email-person {
		margin-left: 272px;
	}
}



//===========================================================
// Adjusting biographies in right sidebar

.region-sidebar-right .block {
	margin-left: 14px;
	margin-left: .875rem;
}







//===========================================================
// Quick Select Menu


.region-sidebar-left select {
	// width: 265px; /* 270px - 5px */
	width: 255px; /* 260 px - 5px */
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Button Find an office location 


// .region-sidebar-left .btn-warning,
// .region-sidebar-right .btn-warning {
// 	text-align: left;
// 	margin: 12px 0 24px 0;
// }

.region-sidebar-left .btn-warning {
	// width: 240px; /* 270px - 30px */
	width: 234px;
}

.region-sidebar-right .btn-warning {
	width: 228px;
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// CONTACT By Region By City By country


.quicktabs-ui-wrapper,
ul.ui-tabs-nav {
	width: 870px !important;
}

ul.ui-tabs-nav li.ui-state-default /* By city */
{
	padding-left: 17px;
	/*padding-right: 155px!important;*/
	/*padding-left: 2%;*/
	/*width: 33%;*/
	width: 268px;
	margin-right: 4px;
}

ul.ui-tabs-nav li.ui-state-default:last-child {
	margin-right: 0 !important;
	width: 269px;
}






} // closes media query from line 5