/* Einstern_2014 for Pedersen & Partners */
/* holds all styles for screen widths >= 768 px */


//===========================================================
// Header

// Logo
@media only screen and (min-width: 768px) {
	


	//===========================================================
	// Disable MOBILE Blocks (in the content region)
	#block-block-43, // Mobile: Find an office location
	#block-menu-block-25, // Mobile: Practice Group block
	#block-menu-block-26, // Mobile: Office menu for office pages
	#block-menu-block-27, // Mobile: Menu for About
	#block-menu-block-28, // Mobile: Menu for Team Section
	#block-menu-block-29, // Mobile: Menu for Services
	#block-menu-block-30, // Mobile: Menu for Executive Compensation Database on Database CT pages
	#block-pedersenandpartners-mobile-navigation-navigation { // Mobile: Quick Select
		display: none;
	}

	//===========================================================
// Main menu

// white space/margin between main menu and blue heading section

	nav ul.nav-main {
		margin-top: -2px !important;
		margin-bottom: 24px !important;
		margin-right: -18px !important;
	}

	.menu-block-22 .nav-main li {
		a {
			margin-right: 5px;
			margin-left: 5px;
		}
	}


//===========================================================
// Newsletter

.xspForm>div {
	max-width: 358px !important;
}

		//===========================================================
// Team view


.view-partners,
.view-consultant,
.view-seniorconsultant,
.view-senior-consultant,
.view-consultant2,
.view-research-consultant,
.view-practice-group, 
.view-by-location,
.view-managers
// .view-office-team-members
{
	.views-row-3,
	.views-row-6,
	.views-row-9,
	.views-row-12,
	.views-row-15,
	.views-row-18,
	.views-row-21,
	.views-row-24,
	.views-row-27,
	.views-row-30 {
		margin-right: 0 !important;
	}
}



//===========================================================
// SIDEBAR Blocks

.region-sidebar-left,
.region-sidebar-right {
	#block-block-31 h3 // Premium Compensation Database
	 {
	 margin-right: -1px;
	 font-size: 23px;
	}
}




// aligning Follow us with consultant spotlight

footer .container .row .span4 {
	// margin-left: 11px !important;
}










} // closes media query