/* Einstern_2014 for Pedersen & Partners */
/* holds all styles for screen widths of 540 px to 567px */

@media only screen and (min-width: 540px) and (max-width: 567px) {

	// .about-country-front {
	// 	margin-top: -12px;
	// 	h1 {
	// 		margin-top: 0 !important;
	// 	}
	// }


	footer {
	margin-top: 43px;
}

// consultant spotlight

#royal-slider-front-consultant,
.view-frontpage-consultant-spotlight .rsDefault .rsOverflow {
	height: 176px !important;
}

.recent-posts {
    margin-bottom: 11px;
}


// newsletter

.xspForm>div {
	max-width: 520px !important;
}




//===========================================================
// Contact Us

	#block-quicktabs-contact-us-landing-page {
		// margin-top: -84px; // with world map
		margin-top: 11px // without world map
	}

// Tabs

ul.ui-tabs-nav li.ui-state-default {
	width: 145px;
}

ul.ui-tabs-nav li.ui-state-default:last-child {
    // width: 147px;
}

#block-views-contact-us-block-1 div.content .view .view-content {
  .li_group:nth-child(1) {
    width: 49% !important;
  }
  .li_group:nth-child(2) {
    width: 51% !important;
  }
}


} // end media query