/* Einstern_2014 for Pedersen & Partners */
/* holds all styles for screen widths >= 768 px */


//===========================================================
// Header

// Logo
@media only screen and (min-width: 768px) {
	
	

	//===========================================================
// Main menu

// white space/margin between main menu and blue heading section

	nav ul.nav-main {
		margin-top: -35px !important;
		margin-right: -18px !important;
		margin-bottom: 26px !important;
	}

	.menu-block-22 .nav-main li {
		a {
			margin-right: 5px;
			margin-left: 5px;
		}
	}




		//===========================================================
// Team view


.view-partners,
.view-consultant,
.view-seniorconsultant,
.view-consultatn2,
.view-research-consultant,
.view-practice-group, 
.view-by-location,
.view-managers
{
	.views-row-3,
	.views-row-6,
	.views-row-9 {
		margin-right: 0 !important;
	}
}



//===========================================================
// SIDEBAR Blocks

.region-sidebar-left,
.region-sidebar-right {
	#block-block-31 h3 // Premium Compensation Database
	 {
	 margin-right: -1px;
	}
}




// aligning Follow us with consultant spotlight

footer .container .row .span4 {
	margin-left: 11px !important;
}










} // closes media query