/* Einstern_2014 for Pedersen & Partners */
/* holds all styles for screen widths of 1200 px and beyond */


@media only screen and (min-width: 1200px) {

//===========================================================
// Main menu

// white space/margin between main menu and blue heading section

	nav ul.nav-main {
		margin-top: -35px !important;
		margin-right: -18px !important;
		margin-bottom: 26px !important;
	}

	.menu-block-22 .nav-main li {
		a {
			margin-right: 5px;
			margin-left: 5px;
		}
	}





//===========================================================
// Frontpage Panels

	.front {
		.content .row .span12 {
		margin-left: 12px; 
		}
		.panel-col .span4 {
			margin-left: 19px;
		}
	}





} // closes media query from line 5