/* Einstern_2014 for Pedersen & Partners */
/* holds all styles for screen widths of 1200 px and beyond */


@media only screen and (min-width: 1200px) {

	header .logo {
		margin-top: 36px !important;
	}

//===========================================================
// Main menu

// white space/margin between main menu and blue heading section

	nav ul.nav-main {
		margin-top: -35px !important;
		margin-right: -18px !important;
		margin-bottom: 26px !important;
	}

	.menu-block-22 .nav-main li {
		a {
			margin-right: 5px;
			margin-left: 5px;
		}
	}





//===========================================================
// Frontpage Panels

// bottom shadow for the image slideshow on frontpage
	.front .panel-col {
		background-size: 1170px 20px;
	}


	.front {
		.content .row .span12 {
		margin-left: 12px; 
		}
		// About, Services, Practice Groups
		.panel-col .span4 {
			margin-left: 19px;
		}
		// Consultant spotlight
		section.featured .span4 {
			margin-left: 10px;
		}
	}





//===========================================================
// Slideshow Front


/* FRONTPAGE Royal Slider */
/* 1st row */
#block-views-frontpage-slider-block .royalSlider {
  width: 1170px !important;
  // max-height: 420px;
}

// Image Slideshow Top
.view-frontpage-slider {
	margin-left: 18px;
	.rsDefault.rsHor {
		.rsArrowLeft {
		// left: 16% !important;
		}
		.rsArrowRight {
		// right: 16% !important;
		}
	}
}

// top and bottom shadow for the image slideshow on frontpage
	.rsBgBottom,
	.rsBgimg {
		background-size: 1280px 20px;
	}
	
	.rsBgBottom {
		bottom: -20px;
	} 

// Press Releases

.flexslider ul.slides {
	// margin-left: 30px;
}

.flexslider ul.slides>li>div.span4 {
	margin-left: 30px;
}

.flexslider ul.slides>li:nth-child(2)>div.span4,
.flexslider ul.slides>li:nth-child(4)>div.span4 {
	margin-left: 20px !important;
}




//===========================================================
// Quick Select Menu


.region-sidebar-left select {
	width: 265px; /* 270px - 5px */
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Button Find an office location 


.region-sidebar-left .btn-warning,
.region-sidebar-right .btn-warning {
	width: 240px; /* 270px - 30px */
	text-align: left;
	margin: 12px 0 24px 0;
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

} // closes media query from line 5