/* Einstern_2014 for Pedersen & Partners */
/* holds all styles for screen widths of 1200 px and beyond */


@media only screen and (min-width: 1200px) {

	header .logo {
		margin-top: 36px !important;
	}

//===========================================================
// Main menu

// white space/margin between main menu and blue heading section

	// nav ul.nav-main {
	// 	margin-top: -35px !important;
	// 	margin-right: -18px !important;
	// 	margin-bottom: 26px !important;
	// }

	.menu-block-22 .nav-main li {
		a {
			margin-right: 5px;
			margin-left: 5px;
		}
	}





//===========================================================
// Frontpage Panels

// bottom shadow for the image slideshow on frontpage
	.front .panel-col {
		background-size: 1170px 20px;
	}


	.front {
		.content .row .span12 {
		// margin-left: 12px; 
		}
		// About, Services, Practice Groups
		.panel-col .span4 {
			// margin-left: 19px;
		}
		// Latest news
		section.featured .flexslider ul.slides .span4 {
			margin-left: 10px;
		}
	}





//===========================================================
// Slideshow Front


/* FRONTPAGE Royal Slider */
/* 1st row */
#block-views-frontpage-slider-block .royalSlider {
  width: 1170px !important;
  // max-height: 420px;
}

// Image Slideshow Top
.view-frontpage-slider {
	// margin-left: 18px;
	.rsDefault.rsHor {
		.rsArrowLeft {
		// left: 16% !important;
		}
		.rsArrowRight {
		// right: 16% !important;
		}
	}
}

// top and bottom shadow for the image slideshow on frontpage
	.rsBgBottom,
	.rsBgimg {
		background-size: 1280px 20px;
	}
	
	.rsBgBottom {
		bottom: -20px;
	} 

// Press Releases

.flexslider ul.slides {
	// margin-left: 30px;
}

// .flexslider ul.slides>li>div.span4 {
// 	margin-left: 30px;
// }

// .flexslider ul.slides>li:nth-child(2)>div.span4,
// .flexslider ul.slides>li:nth-child(4)>div.span4 {
// 	margin-left: 20px !important;
// }

	.flexslider.unstyled {
		// width: 770px !important; // 2 slides
		width: 370px !important;
		margin-left: 20px !important;
	}

	.flexslider .flex-viewport ul>li {
		// width: 385px !important; // 2 slides
		width: 370px !important;
	}



	.flex-control-nav li:nth-child(3),
	.flex-control-nav li:nth-child(4) {
		// display: none;
	}


//===========================================================
// Team view


.view-partners,
.view-consultant,
.view-senior-consultant,
.view-consultant2,
.view-research-consultant,
.view-practice-group,
.view-by-location,
.view-managers,
.team-list {
		.views-row {
		margin-right: 38px;
		// min-height: 470px;
	}
}



//===========================================================
// Biography pages -- TEAM detail

.node-type-team .region-content {
	.field-name-body {
		margin-left: 272px;
	}
	.field-name-field-linkedin  {
		margin-left: 272px;
	}
	.field-name-field-email-person {
		margin-left: 272px;
	}
}



//===========================================================
// Adjusting biographies in right sidebar

.region-sidebar-right .block {
	margin-left: 14px;
	margin-left: .875rem;
}







//===========================================================
// Quick Select Menu


.region-sidebar-left select {
	width: 265px; /* 270px - 5px */
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// Button Find an office location 


.region-sidebar-left .btn-warning,
.region-sidebar-right .btn-warning {
	width: 240px; /* 270px - 30px */
	text-align: left;
	margin: 12px 0 24px 0;
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// CONTACT By Region By City By country


.quicktabs-ui-wrapper,
ul.ui-tabs-nav {
	width: 870px !important;
}

ul.ui-tabs-nav li.ui-state-default /* By city */
{
	padding-left: 17px;
	/*padding-right: 155px!important;*/
	/*padding-left: 2%;*/
	/*width: 33%;*/
	width: 268px;
	margin-right: 4px;
}

ul.ui-tabs-nav li.ui-state-default:last-child {
	margin-right: 0 !important;
	width: 269px;
}







} // closes media query from line 5