/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";
@import "mixins";
@import "placeholders";

/*Import additional mixins, variables */
// @import "einstern";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
// @import "layouts/responsive";

/* Component (SMACSS module) rules */
// @import "components/misc";
// Optionally, add your own components here.
// @import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
@import "default.scss";
@import "fonts.scss"; // contains all font specific declarations like family, size and color;
@import "teamviews-minwidth0-767.scss"; // contains all media queries for team views for screen widths from 0 to 767px;
@import "minwidth0-767.scss"; // contains all media queries for screen widths from 0px to 767px;
@import "minwidth0-479.scss"; // contains all media queries for screen widths from 0px to 479px;
@import "minwidth480-539.scss"; // contains all media queries for screen widths from 480px to 539px;
@import "minwidth540-567.scss"; // contains all media queries for screen widths from 540px to 567px;
@import "minwidth568-767.scss"; // contains all media queries for screen widths from 568px to 767px;
@import "minwidth768.scss"; // contains all media queries for screen widths from 768px and beyond;
@import "minwidth768-979.scss"; // contains all media queries for screen widths from 768px to 979px;
@import "minwidth980-1199.scss"; // contains all media queries for screen widths from 980px to 1199px;
@import "minwidth1200.scss"; // contains all media queries for screen widths from 1200px and beyond
